.item {
  position: relative;
  display: flex;
  overflow: hidden;
  min-width: 0;
  height: 100%;
  align-items: flex-start;
  padding: 16px;
  border-radius: 12px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  color: #ffffff60;
  gap: 12px;
  transition: all 150ms;
  user-select: none;

  &:hover {
    background-color: rgba(44, 29, 75, 0.2);
    box-shadow: inset 0 0 0 1px #2c1d4b;
    color: #fff;

    .icon {
      border-color: #6949ae;
      color: #fff;
    }
  }

  &:focus {
    box-shadow: inset 0 0 0 1px #9261f9;
    color: #fff;
    outline: none;

    .icon {
      border-color: #6949ae;
    }
  }
}

[data-state="open"] .item {
  background-color: rgba(44, 29, 75, 0.2);
  box-shadow: inset 0 0 0 1px #2c1d4b;
  color: #fff;

  .icon {
    border-color: #6949ae;
  }
}

.icon {
  display: flex;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border: 1px dashed rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
  background: radial-gradient(150.08% 117.14% at 31.25% 9.37%, #171717 0%, #000 100%);
  color: #888;
  transition: color 150ms;
}

.content {
  display: flex;
  min-width: 0;
  height: 100%;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
}

.header {
  display: flex;
  width: 100%;
  min-width: 0;
  flex-direction: column;
  gap: 6px;
}

.icons {
  display: flex;
  gap: 8px;
}

.name {
  display: flex;
  flex-direction: column;
  padding-top: 6px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  gap: 8px;

  @media (min-width: 640px) {
    overflow: hidden;
    width: 100%;
    min-width: 0;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
  }
}

.presetAuthor {
  overflow: hidden;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;

  a {
    color: rgba(255, 255, 255, 0.5);
    transition: color 150ms ease;

    &:hover {
      color: #ff6363;
    }
  }
}

.meta {
  display: flex;
  overflow: auto;
  width: 100%;

  min-width: 0;
  align-items: center;
  gap: 10px;
  scrollbar-width: none;
  text-overflow: ellipsis;
  &::-webkit-scrollbar {
    display: none;
  }
}

.metaItem {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  color: #807f7f;
  font-size: 10px;
  font-weight: 500;
  gap: 6px;
  text-transform: uppercase;
  white-space: nowrap;
}

.metaDivider {
  width: 1px;
  height: 9px;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.1);
}

.presetDescription {
  display: flex;
  width: 100%;
  max-height: 320px;
  flex: 1;
  align-items: center;
  font-size: 13px;
  line-height: 180%;
}

.contextMenuContent {
  z-index: 100;
  overflow: hidden;
  min-width: 220px;
  padding: 6px;
  border: 1px solid hsla(0, 0%, 100%, 0.07);
  border-radius: 8px;
  background-color: #252525;
  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 50%);
}

.contextMenuItem {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 3px;
  color: var(--violet-11);
  cursor: default;
  font-size: 13px;
  gap: 6px;
  line-height: 1;
  outline: none;
  user-select: none;

  &[data-highlighted] {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.desktopOnly {
  display: none;

  @media (min-width: 640px) {
    display: block;
  }
}

.mobileOnly {
  display: block;

  @media (min-width: 640px) {
    display: none;
  }
}
