.container {
  position: relative;
  display: flex;
  max-width: 845px;
  flex-direction: column;
  padding: 48px 16px;
  margin: 0 auto;
  gap: 48px;
}

.header {
  display: flex;
  align-items: flex-start;
  gap: 16px;

  @media (min-width: 640px) {
    align-items: center;
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon {
  display: flex;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border: 1px dashed rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
  background: radial-gradient(150.08% 117.14% at 31.25% 9.37%, #171717 0%, #000 100%);

  svg {
    width: 24px;
    height: 24px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: -2px;
  gap: 4px;

  @media (min-width: 640px) {
    margin-top: 2px;
  }
}

.title {
  font-size: 18px;
  font-weight: 500;
}

.author {
  display: block;
  padding-top: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-family: monospace;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;

  @media (min-width: 640px) {
    display: inline;
    padding-top: 0;
    padding-left: 4px;
  }

  a {
    color: rgba(255, 255, 255, 0.6);
    transition: color 150ms ease;

    &:hover {
      color: #ff6363;
    }
  }
}

.description {
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  font-weight: 400;
  line-height: 180%;
}

.instructions {
  overflow: hidden;
  padding: 1px;
  border-radius: 8px;
  background: radial-gradient(74.74% 96.36% at 14.6% 3.69%, #2d2d2d 0%, #1b1b1b 100%);
}

.instructionsInner {
  border-radius: 6px;
  background: #000;
}

.instructionsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  background: rgba(255, 255, 255, 0.05);
  background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='10' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' opacity='0.07' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.compactTitle {
  color: rgba(255, 255, 255, 0.6);
  font-size: 11px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}

.copyButton {
  all: unset;
  position: relative;
  display: flex;
  width: 25px; /* Icon sits slightly off center without this */
  height: 24px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  transition: transform 200ms ease-in-out;

  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.8);
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
    outline: none;
    transition: box-shadow 100ms;
  }

  svg {
    position: absolute;
    top: 4px;
    left: 4px;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.22, 0.96), opacity 300ms cubic-bezier(0.4, 0, 0.22, 0.96);
  }

  svg[data-icon="check"] {
    opacity: 0;
    transform: scale(0.3);
  }

  &[data-copied="true"] {
    svg[data-icon="check"] {
      opacity: 1;
      transform: scale(1);
    }

    svg[data-icon="copy"] {
      opacity: 0;
      transform: scale(0.3);
    }
  }
}

.pre {
  padding: 12px 16px;
  font-family: var(--font-jetbrainsmono);
  font-size: 13px;
  line-height: 1.6;
  text-align: left;
  white-space: pre-wrap;
}

.meta {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;

  @media (min-width: 640px) {
    grid-template-columns: repeat(3, 1fr);
  }

  &.grid {
    grid-template-columns: 1fr;

    @media (min-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.metaItem {
  display: flex;
  flex-direction: column;
  padding: 8px 16px 16px 16px;
  border: 1px solid rgba(255, 255, 255, 0.03);
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.005);
  background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='10' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' opacity='0.07' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  font-size: 13px;
  gap: 4px;
  white-space: nowrap;
}

.badge {
  display: inline-block;
  height: 16px;
  padding: 3px 1px;
  border-radius: 6px;
  margin-left: 1px;
  background: linear-gradient(107deg, #41bbff 11.52%, #286689 91.4%), #d9d9d9;

  color: #56c2ff;
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;

  &:hover {
    cursor: help;
  }

  > span {
    padding-top: 1px;
    padding-right: 3px;
    padding-bottom: 1px;
    padding-left: 3px;
    border-radius: 5px;
    background: #172831;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.1) inset;
  }
}

.metaContent {
  display: flex;
  align-items: center;
  gap: 6px;
}

.capitalize {
  text-transform: capitalize;
}

.subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  font-weight: 500;
  gap: 8px;
}

.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.toastTitle {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  gap: 10px;
  letter-spacing: 0.1px;
}

.separator {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
}
