{
  "extends": "stylelint-config-idiomatic-order",
  "plugins": ["stylelint-value-no-unknown-custom-properties"],
  "rules": {
    "property-no-unknown": true,
    "declaration-block-no-duplicate-properties": true,
    "csstools/value-no-unknown-custom-properties": [
      true,
      {
        "importFrom": ["styles/globals.css", "styles/syntax.css"]
      }
    ]
  }
}
