.trigger {
  display: flex;
  width: 86px;
  height: 38px;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: none;
  color: #fff;
  cursor: default;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  text-transform: capitalize;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

  &:hover,
  &:focus {
    border: 1px solid rgba(255, 255, 255, 0.4);
  }
}

.icon {
  display: flex;
  width: 36px;
  height: 20px;
  align-items: center;
  justify-content: center;

  svg {
    width: 16px;
    height: 16px;
    color: rgba(255, 255, 255, 0.4);
  }
}

.content {
  z-index: 100;
  width: 100px;
  padding: 4px;
  border: 1px solid #333333;
  border-radius: 6px;
  background: #17191a;
  box-shadow: 0px 8px 24px -8px #000000;
}

.viewport {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.item {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 6px 16px;
  border-radius: 4px;
  background: transparent;
  color: #ffffff;
  font-size: 14px;
  gap: 12px;
  line-height: 17px;
  outline: none;
  text-transform: capitalize;
  user-select: none;

  &[data-highlighted] {
    background: rgba(255, 255, 255, 0.05);
  }

  &[data-state="checked"] {
    background: rgba(255, 255, 255, 0.1);
  }
}
