.main {
  position: relative;

  @media (min-width: 768px) {
    padding-left: 320px;

    & .container {
      padding-left: 0;
    }
  }
}

.sidebar {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  display: none;
  width: 320px;
  height: calc(100vh - 50px);
  padding: 24px;

  @media (min-width: 768px) {
    display: block;
  }
}

.sidebarInner {
  height: 100%;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);

  & [data-radix-scroll-area-viewport] > div {
    height: 100%;
  }
}

.sidebarContent {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.sidebarTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  font-weight: 500;
}

.sidebarNav {
  margin-bottom: 32px;
}

.sidebarNavItem {
  display: flex;
  height: 36px;
  align-items: center;
  padding: 0 12px;
  border-radius: 8px;
  margin-bottom: 2px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  font-weight: 500;
  gap: 8px;
  transition: all 300ms ease;

  &[data-active="true"] {
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
    outline: none;
    transition: box-shadow 100ms;
  }
}

.badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  border-radius: 9999px;
  margin-left: auto;
  background-color: #2c1d4b;
  color: #9261f9;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  user-select: none;
}

.summaryTrigger {
  all: unset;
  display: flex;
  width: calc(100%);
  align-items: center;
  justify-content: space-between;
  padding: 8px 8px;
  border-radius: 8px;
  margin-top: -8px;
  margin-left: -8px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;

  &:focus-visible {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    outline: none;
  }

  & svg {
    margin-right: 8px;
    color: rgba(255, 255, 255, 0.4);
    transition: 300ms ease;
  }

  &[aria-expanded="true"] svg {
    transform: rotate(180deg);
  }
}

.summaryContent {
  overflow: hidden;
}

.summaryContent[data-state="open"] {
  animation: slideDown 300ms ease-out;
}

.summaryContent[data-state="closed"] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

.summaryItem {
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 2px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  font-weight: 500;
  gap: 8px;
}

.summaryControls {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  gap: 8px;

  & button {
    justify-content: center;
  }
}

.summaryItemButton {
  all: unset;
  padding: 8px;
  border-radius: 9999px;
  margin-right: 1px;
  margin-left: auto;
  color: #ff6363;

  &:hover {
    background-color: rgba(255, 99, 99, 0.15);
  }

  &:focus-visible {
    box-shadow: inset 0 0 0 1px rgba(255, 99, 99, 0.15), 0 0 0 1px rgba(255, 99, 99, 0.15);
  }
}

.container {
  position: relative;
  padding: 0 16px 32px 16px;
  user-select: none;
}

.nav {
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 24px 16px;
  background-color: black;
  gap: 12px;

  @media (min-width: 768px) {
    padding: 16px 24px;
  }
}

.navControls {
  display: flex;
  gap: 16px;
}

.subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  font-weight: 500;
  gap: 8px;
}

.prompts {
  position: relative;
  z-index: 1;
  display: grid;
  margin-bottom: 64px;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}

.item {
  position: relative;
  display: flex;
  min-width: 0;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  border-radius: 12px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  color: #ffffff60;
  gap: 16px;
  transition: all 30ms;

  &:hover {
    background-color: rgba(44, 29, 75, 0.2);
    box-shadow: inset 0 0 0 1px #2c1d4b;
    color: #fff;

    .placeholder {
      color: #ff6363;
    }
  }

  &:focus {
    box-shadow: inset 0 0 0 1px #9261f9;
    color: #fff;
    outline: none;

    .placeholder {
      color: #ff6363;
    }
  }

  &[data-selected="true"] {
    background-color: rgba(44, 29, 75, 0.5);
    box-shadow: inset 0 0 0 2px solid #2c1d4b;
    color: #fff;
    user-select: none;

    .placeholder {
      color: #ff6363;
    }
  }
}

.prompt {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.icons {
  display: flex;
  gap: 8px;
}

.name {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  gap: 8px;
}

.promptAuthor {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;

  a {
    color: rgba(255, 255, 255, 0.5);
    transition: color 150ms ease;

    &:hover {
      color: #ff6363;
    }
  }
}

.promptModel {
  margin-left: auto;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  font-weight: 400;
}

.text {
  display: block;
  padding: 24px;

  &[data-type="symbol"] {
    font-size: 24px;
  }

  &[data-type="unicode"] {
    font-size: 14px;
    white-space: nowrap;
  }
}

.promptTemplate {
  display: flex;
  width: 100%;
  max-height: 320px;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.05);
}

.template {
  padding: 12px;
  font-family: var(--font-jetbrainsmono);
  font-size: 13px;
  line-height: 1.6;
  text-align: left;
  white-space: pre-wrap;
}

.placeholder {
  color: #ffffff60;
}

.trigger {
  display: inline-flex;
  height: 30px;
  align-items: center;
  padding: 0 4px 0 8px;
  border: none;
  border-radius: 6px;
  appearance: none;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  gap: 8px;
  letter-spacing: 0.1px;
  outline: none;
  white-space: nowrap;

  svg {
    flex-shrink: 0;
  }

  &[data-variant="primary"] {
    background: rgba(255, 99, 99, 0.15);
    color: #ff6363;
    &:not(:disabled):hover {
      background: rgba(255, 99, 99, 0.3);
    }
    &:not(:disabled):focus {
      box-shadow: 0 0 0 2px #191919, 0 0 0 4px rgba(255, 99, 99, 0.2);
    }
  }

  &[data-variant="secondary"] {
    color: hsla(0, 0%, 100%, 0.6);

    &:not(:disabled):hover,
    &[aria-expanded="true"] {
      background-color: hsla(0, 0%, 100%, 0.1);
    }
    &:not(:disabled):focus {
      box-shadow: 0 0 0 2px #191919, 0 0 0 4px hsla(0, 0%, 100%, 0.1);
    }
  }

  &:disabled {
    opacity: 0.5;
  }
}

.dialogTitle {
  margin-bottom: 24px;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
  font-weight: 500;
}

.dialogDescription {
  margin-bottom: 24px;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 14px;
  line-height: 1.6;
}

.dialogButtons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hotkeys {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  gap: 4px;
}

.toastTitle {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  gap: 10px;
  letter-spacing: 0.1px;
}

.logo {
  all: unset;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;

  &:hover,
  &:focus-visible {
    border-radius: 8px;
    background-color: #282b3580;
  }

  svg {
    width: 30px;
    height: 30px;
    color: #ff6363;
  }

  h2 {
    font-size: 16px;
    font-weight: 500;
  }

  @media (min-width: 768px) {
    padding: 6px 12px;
    gap: 12px;

    svg {
      width: 36px;
      height: 36px;
    }
  }
}

.logoSeparator {
  height: 30px;
  border-right: 1px solid #282b35;
}

.about {
  & a {
    color: white;
    transition: color 150ms ease;

    &:hover {
      color: #ff6363;
    }
  }
}

.aboutTopContent {
  display: grid;
  gap: 24px;

  @media (min-width: 640px) {
    grid-template-columns: 1.5fr 1fr;
  }
}

.aboutGlow {
  position: absolute;
  z-index: -1;
  right: 20%;
  bottom: 0;
  left: 20%;
  height: 100px;
  border-radius: 80%;
  animation: showGlow 1000ms ease-out forwards;
  background: conic-gradient(
    from 147.14deg at 50% 50%,
    #0294fe -55.68deg,
    #ff2136 113.23deg,
    #9b4dff 195deg,
    #0294fe 304.32deg,
    #ff2136 473.23deg
  );
  filter: blur(60px);
  opacity: 0.3;
  transform: translateY(100%) scale(0.5);
}

@keyframes showGlow {
  to {
    opacity: 0.5;
    transform: translateY(50%) scale(1);
  }
}

.shortcuts {
  margin-bottom: 32px;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: white;
    font-size: 13px;
    font-weight: 500;
    gap: 8px;
    letter-spacing: 0.1px;
  }
}

.contextMenuContent {
  z-index: 100;
  overflow: hidden;
  min-width: 220px;
  padding: 6px;
  border: 1px solid hsla(0, 0%, 100%, 0.07);
  border-radius: 8px;
  background-color: #252525;
  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 50%);
}

.contextMenuItem {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 3px;
  color: var(--violet-11);
  cursor: default;
  font-size: 13px;
  gap: 6px;
  line-height: 1;
  outline: none;
  user-select: none;

  &[data-highlighted] {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
