.frame {
  position: relative;
  height: 100%;
  background-color: hsla(0, 0%, 3%, 100%);
}

.background {
  position: relative;
}

.backgroundGridline {
  position: absolute;
  width: 1px;
  height: 100%;
  border-left: 2px dashed rgba(255, 255, 255, 0.1);
  content: "";
  pointer-events: none;

  &:nth-child(1) {
    left: 5%;
  }

  &:nth-child(2) {
    left: 20%;
  }

  &:nth-child(3) {
    left: 35%;
  }

  &:nth-child(4) {
    left: 50%;
  }

  &:nth-child(5) {
    left: 65%;
  }

  &:nth-child(6) {
    left: 80%;
  }

  &:nth-child(7) {
    left: 95%;
  }
}

.background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.window {
  position: relative;
  z-index: 1;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: hsla(0, 0%, 6%, 100%);

  .header {
    height: 30px;
    padding-top: 10px;
  }

  .fileName {
    height: 24px;
    font-family: var(--font-space-mono), monospace;
    font-size: 14px;
    line-height: 24px;

    > input,
    & > span,
    &:after {
      font-family: var(--font-space-mono), monospace;
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.frameLightMode {
  background: hsla(21.572, 35.722%, 96.76%);

  .background {
    opacity: 1;
  }

  .window {
    border-color: rgba(0, 0, 0, 0.3);
    background: hsla(240, 0%, 100%);
  }

  .backgroundGridline {
    border-color: rgba(0, 0, 0, 0.3);
  }

  .header {
    border-bottom-color: rgba(0, 0, 0, 0.7);
  }

  .language {
    color: #000;
  }

  .fileName {
    color: rgba(0, 0, 0, 0.6);

    & > span {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  &.noBackground {
    background: transparent;
  }

  .outline {
    opacity: 1;
  }
}

.fileName {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: var(--font-space-mono), monospace;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;

  > input:focus + span {
    display: none;
  }

  > input,
  & > span,
  &:after {
    position: static;
    z-index: 2;
    width: auto;
    min-width: 1em;
    padding: 0;
    border: none;
    margin: 0;
    appearance: none;
    background: none;
    font: inherit;
    grid-area: 1 / 2;
    outline: none;
    resize: none;
    text-align: center;
  }

  & > span {
    position: relative;
    z-index: 1;
    color: rgba(255, 255, 255, 0.6);
  }

  input {
    color: inherit;
  }

  &:after {
    content: attr(data-value) " ";
    visibility: hidden;
  }
}
