.frame {
  background: #0c0c0c;
}

.frameLightMode {
  background: #f5f5f5;

  .window {
    border-color: #e5e5e5;
    background: #ffffff;
  }

  .header {
    border-color: #e5e5e5;
    background: #fafafa;
  }

  .fileName {
    color: oklch(14.5% 0 0);
  }

  .language {
    color: oklch(70.8% 0 0);
  }

  .gridlinesHorizontal,
  .gridlinesVertical {
    &:before,
    &:after {
      background: #e5e5e5;
    }
  }
}

.window {
  position: relative;
  border: none;
  border-radius: 0;
  background: #0c0c0c;
}

.gridlinesHorizontal {
  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -150px;
    width: 1200px;
    height: 1px;
    background: #262626;
    content: "";
  }

  &:after {
    top: auto;
    bottom: 0;
  }
}

.gridlinesVertical {
  &:before,
  &:after {
    position: absolute;
    top: -150px;
    bottom: 0;
    left: 0;
    width: 1px;
    height: calc(100% + 300px);
    background: #262626;
    content: "";
  }

  &:after {
    right: 0;
    left: auto;
  }
}

.header {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-bottom: 1px solid #262626;
  background: #0f0f0f;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  gap: 12px;
}

.fileName {
  position: relative;
  display: grid;
  height: 40px;
  align-items: center;
  color: #ededed;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  line-height: 40px;
  vertical-align: top;

  input,
  & > span,
  &:after {
    position: static;
    z-index: 2;
    width: auto;
    min-width: 1em;
    padding: 0;
    border: none;
    margin: 0;
    appearance: none;
    background: none;
    font: inherit;
    grid-area: 1 / 2;
    resize: none;
    text-align: left;
  }

  & > span {
    position: relative;
    z-index: 1;
  }

  input {
    color: inherit;
  }

  &:after {
    content: attr(data-value) " ";
    visibility: hidden;
  }
}

.language {
  height: 40px;
  color: #737373;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  line-height: 40px;
}
