.frame {
  background: #121212;
}

.window {
  position: relative;
  z-index: 1;
  border-radius: 12px;
  background: #070a08;
  box-shadow:
    0px 173px 48px 0px rgba(0, 0, 0, 0),
    0px 110px 44px 0px rgba(0, 0, 0, 0.01),
    0px 62px 37px 0px rgba(0, 0, 0, 0.05),
    0px 28px 28px 0px rgba(0, 0, 0, 0.09),
    0px 7px 15px 0px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #141818;
  background: #010201;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  gap: 12px;
}

.fileName {
  position: relative;
  display: grid;
  height: 40px;
  align-items: center;
  color: #55d799;
  font-size: 12px;
  line-height: 40px;
  vertical-align: top;

  input,
  & > span,
  &:after {
    position: static;
    z-index: 2;
    width: auto;
    min-width: 1em;
    padding: 0 16px;
    border: none;
    margin: 0;
    appearance: none;
    background: none;
    font: var(--font-inter);
    font-weight: 500;
    grid-area: 1 / 2;
    letter-spacing: 0.4px;
    resize: none;
    text-align: left;
  }

  & > span {
    position: relative;
    z-index: 1;
  }

  input {
    color: inherit;
  }

  &:after {
    content: attr(data-value) " ";
    visibility: hidden;
  }

  &:before {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 1px;
    background: currentColor;
    content: "";
  }
}

.patternWrapper {
  position: absolute;
  top: 0;
  right: -25px;
  width: 700px;
  height: 600px;
  background: radial-gradient(49.63% 57.02% at 58.99% -7.2%, rgba(13, 147, 115, 0.1) 39.4%, rgba(0, 0, 0, 0) 100%);
}

.pattern {
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  max-width: none;
}

.frameLightMode {
  background: #f6fbf9;

  .window {
    border-color: #dfdfdf;
    background: #ffffff;
    box-shadow:
      0px 173px 48px 0px rgba(0, 0, 0, 0),
      0px 110px 44px 0px rgba(0, 0, 0, 0.01),
      0px 62px 37px 0px rgba(0, 0, 0, 0.03),
      0px 28px 28px 0px rgba(0, 0, 0, 0.05),
      0px 7px 15px 0px rgba(0, 0, 0, 0.06);
  }

  .header {
    border-color: #dfdfdf;
    background: #fcfcfc;
  }

  .fileName {
    color: #0d9373;
  }

  .language {
    color: #707070;
  }
}
