.frame {
  --gradient-angle: 140deg;
  background: linear-gradient(var(--gradient-angle), #0c1d26 0%, #0a0c17 100%);
}

.window {
  position: relative;
  overflow: visible;
  border: 1px solid transparent;
  border-radius: var(--radius);
  background-color: var(--background);
  --radius: 10px;
  --frame-border-gradient: linear-gradient(var(--gradient-angle), #3e4083, #16544f);
  --background: hsla(223, 41%, 7%, 75%);

  [data-frameborder] {
    &:before {
      position: absolute;
      border: 1px solid transparent;
      border-radius: var(--radius);
      background: var(--frame-border-gradient) border-box;
      content: "";
      inset: 0;
      mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
      pointer-events: none;
    }

    &:nth-of-type(1):before {
      inset: -1px;
    }

    &:nth-of-type(2):before {
      border-radius: calc(var(--radius) + 6px);
      inset: -6px;
      opacity: 50%;
    }

    &:nth-of-type(3):before {
      border-radius: calc(var(--radius) + 11px);
      inset: -11px;
      opacity: 30%;
    }

    &:nth-of-type(4):before {
      border-radius: calc(var(--radius) + 16px);
      inset: -16px;
      opacity: 10%;
    }
  }
}

.header {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #141818;
  background: rgba(0, 0, 0, 0.2);
  gap: 12px;
}

.fileName {
  position: relative;
  display: grid;
  height: 40px;
  align-items: center;
  color: #31baaf;
  font-size: 12px;
  line-height: 40px;
  vertical-align: top;

  input,
  & > span,
  &:after {
    position: static;
    z-index: 2;
    width: auto;
    min-width: 1em;
    padding: 0 16px;
    border: none;
    margin: 0;
    appearance: none;
    background: none;
    font: var(--font-inter);
    font-weight: 500;
    grid-area: 1 / 2;
    letter-spacing: 0.4px;
    resize: none;
    text-align: left;
  }

  & > span {
    position: relative;
    z-index: 1;
  }

  input {
    color: inherit;
  }

  &:after {
    content: attr(data-value) " ";
    visibility: hidden;
  }

  &:before {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 1px;
    background: currentColor;
    content: "";
  }
}

.frameLightMode {
  background: linear-gradient(140deg, #e8e8ff 0%, #e7fefc 100%);

  &.noBackground {
    .window {
      --background: hsl(193, 72%, 96%, 0.9);
    }
  }

  .window {
    --background: hsl(193, 72%, 96%, 0.5);
    --frame-border-gradient: linear-gradient(var(--gradient-angle), #6164cc, #31baaf);
  }

  .header {
    border-color: #dfdfdf;
    background: hsla(192, 72%, 96%, 0.9);
  }

  .fileName {
    color: #16a394;
  }
}
