.frame {
  --gradient-angle: 140deg;
  background: radial-gradient(80% 65% at 15% 100%, rgba(1, 215, 228, 0.14) 0%, transparent 70%),
    radial-gradient(70% 55% at 55% 100%, rgba(243, 195, 6, 0.1) 0%, transparent 70%),
    radial-gradient(80% 65% at 95% 100%, rgba(255, 118, 130, 0.12) 0%, transparent 70%),
    linear-gradient(var(--gradient-angle), #151515 0%, #0f0f0f 100%);
}

.window {
  position: relative;
  overflow: visible;
  border: 1px solid transparent;
  border-radius: var(--radius);
  background-color: var(--background);
  --radius: 10px;
  --frame-border-gradient: linear-gradient(var(--gradient-angle), #01d7e4, #f34a60, #f3c306);
  --background: hsla(0, 0%, 6%, 80%);

  [data-frameborder] {
    &:before {
      position: absolute;
      border: 1px solid transparent;
      border-radius: var(--radius);
      background: var(--frame-border-gradient) border-box;
      content: "";
      inset: 0;
      mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
      pointer-events: none;
    }

    &:nth-of-type(1):before {
      inset: -1px;
    }

    &:nth-of-type(2):before {
      border-radius: calc(var(--radius) + 6px);
      inset: -6px;
      opacity: 50%;
    }

    &:nth-of-type(3):before {
      border-radius: calc(var(--radius) + 11px);
      inset: -11px;
      opacity: 30%;
    }

    &:nth-of-type(4):before {
      border-radius: calc(var(--radius) + 16px);
      inset: -16px;
      opacity: 10%;
    }
  }
}

.header {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  background: rgba(0, 0, 0, 0.2);
  gap: 12px;
}

.fileName {
  position: relative;
  display: grid;
  height: 40px;
  align-items: center;
  color: #01d7e4;
  font-size: 12px;
  line-height: 40px;
  vertical-align: top;

  input,
  & > span,
  &:after {
    position: static;
    z-index: 2;
    width: auto;
    min-width: 1em;
    padding: 0 16px;
    border: none;
    margin: 0;
    appearance: none;
    background: none;
    font: var(--font-inter);
    font-weight: 500;
    grid-area: 1 / 2;
    letter-spacing: 0.4px;
    resize: none;
    text-align: left;
  }

  & > span {
    position: relative;
    z-index: 1;
  }

  input {
    color: inherit;
  }

  &:after {
    content: attr(data-value) " ";
    visibility: hidden;
  }

  &:before {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 1px;
    background: currentColor;
    content: "";
  }
}

.frame.noBackground {
  background: transparent;
}

.frameLightMode {
  background: radial-gradient(80% 65% at 15% 100%, rgba(1, 215, 228, 0.2) 0%, transparent 70%),
    radial-gradient(70% 55% at 55% 100%, rgba(243, 195, 6, 0.16) 0%, transparent 70%),
    radial-gradient(80% 65% at 95% 100%, rgba(255, 118, 130, 0.17) 0%, transparent 70%),
    linear-gradient(140deg, #ffffff 0%, #f9faf5 100%);

  &.noBackground {
    .window {
      --background: hsla(0, 0%, 100%, 0.9);
    }
  }

  .window {
    --background: hsla(0, 0%, 100%, 0.75);
    --frame-border-gradient: linear-gradient(var(--gradient-angle), #00bbcb, #f34a60, #eaa700);
  }

  .header {
    border-color: rgba(0, 0, 0, 0.06);
    background: hsla(0, 0%, 100%, 0.9);
  }

  .fileName {
    color: #007f8d;
  }
}
