.frame {
  position: relative;
  background: #0f172a;
}

.window {
  position: relative;
  z-index: 1;
  border: 1px solid color(display-p3 0.8235 0.9451 1 / 0.25);
  border-radius: 8px;
  background: color(display-p3 0.1176 0.1608 0.2314);
}

.beams {
  position: absolute;
  z-index: 0;
  top: -200px;
  left: 50%;

  width: 1293px;
  max-width: none;
  height: auto;
  pointer-events: none;
  transform: translateX(calc(-50% - 200px));
}

.header {
  height: 34px;
  padding: 0 12px;
  border-bottom: 1px solid rgb(255 255 255 / 10%);

  .control {
    width: 10px;
    height: 10px;
    background-color: color(display-p3 0.2781 0.3345 0.4136);
  }
}

.gridlinesHorizontal {
  &:before,
  &:after {
    position: absolute;
    z-index: 2;
    top: -1.5rem;
    bottom: 0;
    left: -4rem;
    width: calc(100% + 8rem);
    height: 1px;
    background: color(display-p3 1 1 1 / 0.1);
    content: "";
    -webkit-mask-image: linear-gradient(to left, transparent, white 4rem, white calc(100% - 4rem), transparent);
    mask-image: linear-gradient(to left, transparent, white 4rem, white calc(100% - 4rem), transparent);
  }

  &:after {
    top: auto;
    bottom: -1.5rem;
  }
}

.gridlinesVertical {
  &:before,
  &:after {
    position: absolute;
    z-index: 2;
    top: -4rem;
    bottom: 0;
    left: -1.5rem;
    width: 1px;
    height: calc(100% + 8rem);
    background: color(display-p3 1 1 1 / 0.1);
    content: "";
    -webkit-mask-image: linear-gradient(to top, transparent, white 4rem, white calc(100% - 4rem), transparent);
    mask-image: linear-gradient(to top, transparent, white 4rem, white calc(100% - 4rem), transparent);
  }

  &:after {
    right: -1.5rem;
    left: auto;
  }
}

.gradient {
  position: absolute;
  z-index: -1;
  top: calc(100% + 1.5rem);
  left: 20px;
  overflow: hidden;
  width: 100%;
  height: 32px;
  margin-top: -1px;

  > div {
    display: flex;
    width: clamp(14rem, 80%, 40rem);
    height: 2px;
    margin-top: -1px;
  }
}

.gradient1 {
  width: 100%;
  flex: none;
  background: linear-gradient(
    90deg,
    color(display-p3 0.2196 0.7412 0.9725 / 0) 0%,
    color(display-p3 0.0549 0.6471 0.9137) 32.29%,
    color(display-p3 0.9255 0.2824 0.6 / 0.3) 67.19%,
    color(display-p3 0.9255 0.2824 0.6 / 0) 100%
  );
  filter: blur(4px);
}

.gradient2 {
  composes: gradient1;
  margin-left: -100%;
  filter: blur(1px);
}

.frameLightMode {
  background: color(display-p3 1 1 1);

  &.noBackground {
    .window {
      background: rgb(255 255 255 / 100%);
    }
  }

  .window {
    background: rgb(255 255 255 / 75%);
    box-shadow:
      0 0 0 1px color(display-p3 0.0572 0.0889 0.1628 / 0.1),
      0px 2px 4px 0px color(display-p3 0 0 0 / 0.06);
  }

  &.isSafari {
    .window {
      border: 1px solid color(display-p3 0.0078 0.0235 0.0902 / 0.1);
      box-shadow: none;
    }
  }

  .header {
    border-color: rgb(0 0 0 / 10%);
  }

  .control {
    background-color: color(display-p3 0.8863 0.9098 0.9412);
  }

  .gridlinesHorizontal,
  .gridlinesVertical {
    &:before,
    &:after {
      background: color(display-p3 0.0078 0.0235 0.0902 / 0.1);
    }
  }

  .beams {
    top: 0;
    transform: translateX(-50%);
  }
}
