.frame {
  background: #121317;
}

.patternTop {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-repeat: repeat;
  background-size: 64px;
  mask-image: radial-gradient(circle farthest-corner at 50% 0%, black 20%, transparent 80%);
  pointer-events: none;
}

.patternBottom {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-repeat: repeat;
  background-size: 64px;
  mask-image: radial-gradient(circle farthest-corner at 50% 100%, black 20%, transparent 80%);
  pointer-events: none;
}

.gridlinesHorizontal {
  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -150px;
    width: 1200px;
    height: 1px;
    background: #272a2e;
    content: "";
  }

  &:after {
    top: auto;
    bottom: 0;
  }
}

.gridlinesVertical {
  &:before,
  &:after {
    position: absolute;
    top: -150px;
    bottom: 0;
    left: 0;
    width: 1px;
    height: calc(100% + 300px);
    background: #272a2e;
    content: "";
  }

  &:after {
    right: 0;
    left: auto;
  }
}

.window {
  position: relative;
  background: #121317;
}

.header {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background: #16181d;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  gap: 12px;
}

.fileName {
  position: relative;
  display: grid;
  height: 40px;
  align-items: center;
  color: #b5b8c0;
  font-family: "Geist Mono", monospace;
  font-size: 14px;
  line-height: 40px;
  vertical-align: top;

  input,
  & > span,
  &:after {
    position: static;
    z-index: 2;
    width: auto;
    min-width: 1em;
    padding: 0;
    border: none;
    margin: 0;
    appearance: none;
    background: none;
    font: inherit;
    grid-area: 1 / 2;
    resize: none;
    text-align: left;
  }

  & > span {
    position: relative;
    z-index: 1;
  }

  input {
    color: inherit;
  }

  &:after {
    content: attr(data-value) " ";
    visibility: hidden;
  }
}

.language {
  height: 40px;
  color: #5f6570;
  font-family: "Geist Mono", monospace;
  font-size: 14px;
  line-height: 40px;
}

.frameLightMode {
  background: #fafafa;

  .window {
    background: #f5f5f5;
  }

  .header {
    border-bottom: 1px solid #e5e5e5;
    background: #f8f8f8;
  }

  .fileName {
    color: #171717;
  }

  .language {
    color: #707070;
  }

  .gridlinesHorizontal,
  .gridlinesVertical {
    &:before,
    &:after {
      background: #d9d7d7;
    }
  }

  .patternTop,
  .patternBottom {
    opacity: 0.1;
  }
}
