.frame {
  background: black;
}

.frameLightMode {
  background: white;

  .gridlinesHorizontal,
  .gridlinesVertical {
    &:before,
    &:after {
      background: #ebebeb;
    }
  }

  .bracketLeft,
  .bracketRight {
    &:before,
    &:after {
      background: #a8a8a8;
    }
  }
}

.window {
  position: relative;
}

.gridlinesHorizontal {
  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -150px;
    width: 1200px;
    height: 1px;
    background: #1a1a1a;
    content: "";
  }

  &:after {
    top: auto;
    bottom: 0;
  }
}

.gridlinesVertical {
  &:before,
  &:after {
    position: absolute;
    top: -150px;
    bottom: 0;
    left: 0;
    width: 1px;
    height: calc(100% + 300px);
    background: #1a1a1a;
    content: "";
  }

  &:after {
    right: 0;
    left: auto;
  }
}

.bracketLeft,
.bracketRight {
  position: absolute;
  top: -12px;
  left: -12px;
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;

  &:before,
  &:after {
    position: absolute;
    background: #515356;
    content: "";
  }

  &:before {
    top: 12px;
    width: 100%;
    height: 1px;
  }

  &:after {
    left: 12px;
    width: 1px;
    height: 100%;
  }
}

.bracketRight {
  top: auto;
  right: -12px;
  bottom: -12px;
  left: auto;
}
