/* Shared frame styles */
.frame {
  transition: padding 200ms;
}

.transparentPattern {
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(45deg, #1d1d1d 25%, transparent 0),
    linear-gradient(-45deg, #1d1d1d 25%, transparent 0), linear-gradient(45deg, transparent 75%, #1d1d1d 0),
    linear-gradient(-45deg, transparent 75%, #1d1d1d 0);
  background-position:
    0 0,
    0 10px,
    10px -10px,
    -10px 0;
  background-size: 20px 20px;
  inset: 0;
}

.window {
  display: flex;
  min-height: 100px;
  flex-direction: column;
  align-items: stretch;
  padding-top: 10px;
  border: 1px solid hsl(0 0% 100% / 0.3);
  border-radius: 18px;
  background: var(--frame-background);
  transition: all ease 0.3s;

  &.withBorder {
    border: none;
    box-shadow:
      0 0 0 1px var(--frame-highlight-border),
      0 0 0 1.5px var(--frame-shadow-border);
  }

  &.withShadow {
    border: none;
    box-shadow:
      0 0 0 1px var(--frame-highlight-border),
      0 0 0 1.5px var(--frame-shadow-border),
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }
}

.header {
  display: grid;
  height: 24px;
  align-items: center;
  padding: 0 16px;
  grid-gap: 12px;
  grid-template-columns: 60px 1fr 60px;
}

.controls {
  display: flex;
  gap: 9px;
}

.control {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: var(--frame-control-color);
}

.fileName {
  position: relative;
  display: flex;
  height: 16px;
  align-items: center;
  justify-content: center;
  color: var(--frame-title-placeholder-color);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: 12px;
  text-align: center;

  > input:focus + span {
    display: none;
  }

  > input {
    position: absolute;
    width: 100%;
    border: none;
    margin: 0;
    background-color: transparent;
    color: var(--frame-title-color);
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    inset: 0;
    letter-spacing: 0.32px;
    line-height: 12px;
    text-align: center;

    &:focus {
      outline: none;
    }
  }
}

.noBackground {
  background: none;

  [data-grid="true"],
  [data-dot="true"] {
    display: none;
  }
}

/* Browserbase Theme Frame */

.browserbaseFrame {
  position: relative;
  height: 100%;
  background-color: hsla(0, 0%, 3%, 100%);
}

.browserbaseBackground {
  position: relative;
}

.browserbaseBackgroundGridline {
  position: absolute;
  width: 1px;
  height: 100%;
  border-left: 2px dashed rgba(255, 255, 255, 0.1);
  content: "";
  pointer-events: none;

  &:nth-child(1) {
    left: 5%;
  }

  &:nth-child(2) {
    left: 20%;
  }

  &:nth-child(3) {
    left: 35%;
  }

  &:nth-child(4) {
    left: 50%;
  }

  &:nth-child(5) {
    left: 65%;
  }

  &:nth-child(6) {
    left: 80%;
  }

  &:nth-child(7) {
    left: 95%;
  }
}

.browserbaseBackground {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.browserbaseWindow {
  position: relative;
  z-index: 1;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: hsla(0, 0%, 6%, 100%);

  .header {
    height: 30px;
    padding-top: 10px;
  }

  .fileName {
    height: 24px;
    font-family: var(--font-space-mono), monospace;
    font-size: 14px;
    line-height: 24px;

    > input,
    & > span,
    &:after {
      font-family: var(--font-space-mono), monospace;
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.browserbaseFrameLightMode {
  background: hsla(21.572, 35.722%, 96.76%);

  .browserbaseBackground {
    opacity: 1;
  }

  .browserbaseWindow {
    border-color: rgba(0, 0, 0, 0.3);
    background: hsla(240, 0%, 100%);
  }

  .browserbaseBackgroundGridline {
    border-color: rgba(0, 0, 0, 0.3);
  }

  .browserbaseHeader {
    border-bottom-color: rgba(0, 0, 0, 0.7);
  }

  .browserbaseLanguage {
    color: #000;
  }

  .browserbaseFileName {
    color: rgba(0, 0, 0, 0.6);

    & > span {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  &.noBackground {
    background: transparent;
  }

  .browserbaseOutline {
    opacity: 1;
  }
}

.browserbaseFileName {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: var(--font-space-mono), monospace;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;

  > input:focus + span {
    display: none;
  }

  > input,
  & > span,
  &:after {
    position: static;
    z-index: 2;
    width: auto;
    min-width: 1em;
    padding: 0;
    border: none;
    margin: 0;
    appearance: none;
    background: none;
    font: inherit;
    grid-area: 1 / 2;
    outline: none;
    resize: none;
    text-align: center;
  }

  & > span {
    position: relative;
    z-index: 1;
    color: rgba(255, 255, 255, 0.6);
  }

  input {
    color: inherit;
  }

  &:after {
    content: attr(data-value) " ";
    visibility: hidden;
  }
}
