/* Shared frame styles */
.frame {
  transition: padding 200ms;
}

.transparentPattern {
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(45deg, #1d1d1d 25%, transparent 0),
    linear-gradient(-45deg, #1d1d1d 25%, transparent 0), linear-gradient(45deg, transparent 75%, #1d1d1d 0),
    linear-gradient(-45deg, transparent 75%, #1d1d1d 0);
  background-position:
    0 0,
    0 10px,
    10px -10px,
    -10px 0;
  background-size: 20px 20px;
  inset: 0;
}

.window {
  display: flex;
  min-height: 100px;
  flex-direction: column;
  align-items: stretch;
  padding-top: 10px;
  border: 1px solid hsl(0 0% 100% / 0.3);
  border-radius: 18px;
  background: var(--frame-background);
  transition: all ease 0.3s;

  &.withBorder {
    border: none;
    box-shadow:
      0 0 0 1px var(--frame-highlight-border),
      0 0 0 1.5px var(--frame-shadow-border);
  }

  &.withShadow {
    border: none;
    box-shadow:
      0 0 0 1px var(--frame-highlight-border),
      0 0 0 1.5px var(--frame-shadow-border),
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }
}

.header {
  display: grid;
  height: 24px;
  align-items: center;
  padding: 0 16px;
  grid-gap: 12px;
  grid-template-columns: 60px 1fr 60px;
}

.controls {
  display: flex;
  gap: 9px;
}

.control {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: var(--frame-control-color);
}

.fileName {
  position: relative;
  display: flex;
  height: 16px;
  align-items: center;
  justify-content: center;
  color: var(--frame-title-placeholder-color);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: 12px;
  text-align: center;

  > input:focus + span {
    display: none;
  }

  > input {
    position: absolute;
    width: 100%;
    border: none;
    margin: 0;
    background-color: transparent;
    color: var(--frame-title-color);
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    inset: 0;
    letter-spacing: 0.32px;
    line-height: 12px;
    text-align: center;

    &:focus {
      outline: none;
    }
  }
}

.noBackground {
  background: none;

  [data-grid="true"],
  [data-dot="true"] {
    display: none;
  }
}

/* ElevenLabs Theme Frame */

.elevenLabsFrame {
  --background: #111;
  --border-color: #353535;
  --dot-color: white;

  background: var(--background);

  [data-grid="true"] {
    background: var(--border-color);
  }

  [data-dot="true"] {
    background: var(--dot-color);
  }

  :global(.highlighted-line):after {
    z-index: 1 !important;
    left: 0px !important;
    width: 1px !important;
  }
}

.elevenLabsFrameLightMode {
  --background: #fff;
  --border-color: #e5e7eb;
  --dot-color: black;
}

.elevenLabsWindow {
  position: relative;

  &:before {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: 24px;
    content: "";
    pointer-events: none;
  }
}

.elevenLabsEditor {
  position: relative;
  border-radius: 24px;
  background: var(--background);
}

.elevenLabsCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid var(--border-color);
  border-radius: 9999px;
  content: "";
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.elevenLabsGridlineHorizontalTop,
.elevenLabsGridlineHorizontalCenter,
.elevenLabsGridlineHorizontalBottom {
  position: absolute;
  left: -150px;
  width: 1200px;
  height: 1px;
  background: var(--border-color);
  content: "";
}

.elevenLabsGridlineHorizontalTop {
  top: 0;
}

.elevenLabsGridlineHorizontalCenter {
  top: 50%;
  transform: translateY(-50%);
}

.elevenLabsGridlineHorizontalBottom {
  bottom: 0;
}

.elevenLabsGridlineVerticalLeft,
.elevenLabsGridlineVerticalCenter,
.elevenLabsGridlineVerticalRight {
  position: absolute;
  top: -150px;
  bottom: 0;
  width: 1px;
  height: calc(100% + 300px);
  background: var(--border-color);
  content: "";
}

.elevenLabsGridlineVerticalLeft {
  left: 0;
}

.elevenLabsGridlineVerticalCenter {
  left: 50%;
  transform: translateX(-50%);
}

.elevenLabsGridlineVerticalRight {
  right: 0;
}

.elevenLabsDotTopLeft,
.elevenLabsDotTopRight,
.elevenLabsDotBottomLeft,
.elevenLabsDotBottomRight {
  position: absolute;
  z-index: 2;
  top: -1px;
  left: -1px;
  display: flex;
  width: 3px;
  height: 3px;
}

.elevenLabsDotBottomRight {
  top: auto;
  right: -1px;
  bottom: -1px;
  left: auto;
}

.elevenLabsDotBottomLeft {
  top: auto;
  bottom: -1px;
  left: -1px;
}

.elevenLabsDotTopLeft {
  top: -1px;
  left: -1px;
}

.elevenLabsDotTopRight {
  top: -1px;
  right: -1px;
  left: auto;
}

.elevenLabsGridlineCornerTopLeft,
.elevenLabsGridlineCornerTopRight,
.elevenLabsGridlineCornerBottomRight,
.elevenLabsGridlineCornerBottomLeft {
  position: absolute;
}

.elevenLabsGridlineCornerTopLeft {
  top: -200px;
  left: 0;
  width: 1px;
  height: 200px;
  transform: rotate(-45deg);
  transform-origin: bottom right;
}

.elevenLabsGridlineCornerTopRight {
  top: -200px;
  right: 0;
  width: 1px;
  height: 200px;
  transform: rotate(45deg);
  transform-origin: bottom left;
}

.elevenLabsGridlineCornerBottomRight {
  right: 0;
  bottom: -200px;
  width: 1px;
  height: 200px;
  transform: rotate(-45deg);
  transform-origin: top left;
}

.elevenLabsGridlineCornerBottomLeft {
  bottom: -200px;
  left: 0;
  width: 1px;
  height: 200px;
  transform: rotate(45deg);
  transform-origin: top right;
}
