/* Shared frame styles */
.frame {
  transition: padding 200ms;
}

.transparentPattern {
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(45deg, #1d1d1d 25%, transparent 0),
    linear-gradient(-45deg, #1d1d1d 25%, transparent 0), linear-gradient(45deg, transparent 75%, #1d1d1d 0),
    linear-gradient(-45deg, transparent 75%, #1d1d1d 0);
  background-position:
    0 0,
    0 10px,
    10px -10px,
    -10px 0;
  background-size: 20px 20px;
  inset: 0;
}

.window {
  display: flex;
  min-height: 100px;
  flex-direction: column;
  align-items: stretch;
  padding-top: 10px;
  border: 1px solid hsl(0 0% 100% / 0.3);
  border-radius: 18px;
  background: var(--frame-background);
  transition: all ease 0.3s;

  &.withBorder {
    border: none;
    box-shadow:
      0 0 0 1px var(--frame-highlight-border),
      0 0 0 1.5px var(--frame-shadow-border);
  }

  &.withShadow {
    border: none;
    box-shadow:
      0 0 0 1px var(--frame-highlight-border),
      0 0 0 1.5px var(--frame-shadow-border),
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }
}

.header {
  display: grid;
  height: 24px;
  align-items: center;
  padding: 0 16px;
  grid-gap: 12px;
  grid-template-columns: 60px 1fr 60px;
}

.controls {
  display: flex;
  gap: 9px;
}

.control {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: var(--frame-control-color);
}

.fileName {
  position: relative;
  display: flex;
  height: 16px;
  align-items: center;
  justify-content: center;
  color: var(--frame-title-placeholder-color);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: 12px;
  text-align: center;

  > input:focus + span {
    display: none;
  }

  > input {
    position: absolute;
    width: 100%;
    border: none;
    margin: 0;
    background-color: transparent;
    color: var(--frame-title-color);
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    inset: 0;
    letter-spacing: 0.32px;
    line-height: 12px;
    text-align: center;

    &:focus {
      outline: none;
    }
  }
}

.noBackground {
  background: none;

  [data-grid="true"],
  [data-dot="true"] {
    display: none;
  }
}

/* Prisma Frame */

.prismaFrame {
  --gradient-angle: 140deg;
  background: linear-gradient(var(--gradient-angle), #0c1d26 0%, #0a0c17 100%);
}

.prismaWindow {
  position: relative;
  overflow: visible;
  border: 1px solid transparent;
  border-radius: var(--radius);
  background-color: var(--background);
  --radius: 10px;
  --frame-border-gradient: linear-gradient(var(--gradient-angle), #3e4083, #16544f);
  --background: hsla(223, 41%, 7%, 75%);

  [data-frameborder] {
    &:before {
      position: absolute;
      border: 1px solid transparent;
      border-radius: var(--radius);
      background: var(--frame-border-gradient) border-box;
      content: "";
      inset: 0;
      mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
      pointer-events: none;
    }

    &:nth-of-type(1):before {
      inset: -1px;
    }

    &:nth-of-type(2):before {
      border-radius: calc(var(--radius) + 6px);
      inset: -6px;
      opacity: 50%;
    }

    &:nth-of-type(3):before {
      border-radius: calc(var(--radius) + 11px);
      inset: -11px;
      opacity: 30%;
    }

    &:nth-of-type(4):before {
      border-radius: calc(var(--radius) + 16px);
      inset: -16px;
      opacity: 10%;
    }
  }
}

.prismaHeader {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #141818;
  background: rgba(0, 0, 0, 0.2);
  gap: 12px;
}

.prismaFileName {
  position: relative;
  display: grid;
  height: 40px;
  align-items: center;
  color: #31baaf;
  font-size: 12px;
  line-height: 40px;
  vertical-align: top;

  input,
  & > span,
  &:after {
    position: static;
    z-index: 2;
    width: auto;
    min-width: 1em;
    padding: 0 16px;
    border: none;
    margin: 0;
    appearance: none;
    background: none;
    font: var(--font-inter);
    font-weight: 500;
    grid-area: 1 / 2;
    letter-spacing: 0.4px;
    resize: none;
    text-align: left;
  }

  & > span {
    position: relative;
    z-index: 1;
  }

  input {
    color: inherit;
  }

  &:after {
    content: attr(data-value) " ";
    visibility: hidden;
  }

  &:before {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 1px;
    background: currentColor;
    content: "";
  }
}

.prismaFrameLightMode {
  background: linear-gradient(140deg, #e8e8ff 0%, #e7fefc 100%);

  &.noBackground {
    .prismaWindow {
      --background: hsl(193, 72%, 96%, 0.9);
    }
  }

  .prismaWindow {
    --background: hsl(193, 72%, 96%, 0.5);
    --frame-border-gradient: linear-gradient(var(--gradient-angle), #6164cc, #31baaf);
  }

  .prismaHeader {
    border-color: #dfdfdf;
    background: hsla(192, 72%, 96%, 0.9);
  }

  .prismaFileName {
    color: #16a394;
  }
}
