/* Shared frame styles */
.frame {
  transition: padding 200ms;
}

.transparentPattern {
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(45deg, #1d1d1d 25%, transparent 0),
    linear-gradient(-45deg, #1d1d1d 25%, transparent 0), linear-gradient(45deg, transparent 75%, #1d1d1d 0),
    linear-gradient(-45deg, transparent 75%, #1d1d1d 0);
  background-position:
    0 0,
    0 10px,
    10px -10px,
    -10px 0;
  background-size: 20px 20px;
  inset: 0;
}

.window {
  display: flex;
  min-height: 100px;
  flex-direction: column;
  align-items: stretch;
  padding-top: 10px;
  border: 1px solid hsl(0 0% 100% / 0.3);
  border-radius: 18px;
  background: var(--frame-background);
  transition: all ease 0.3s;

  &.withBorder {
    border: none;
    box-shadow:
      0 0 0 1px var(--frame-highlight-border),
      0 0 0 1.5px var(--frame-shadow-border);
  }

  &.withShadow {
    border: none;
    box-shadow:
      0 0 0 1px var(--frame-highlight-border),
      0 0 0 1.5px var(--frame-shadow-border),
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }
}

.header {
  display: grid;
  height: 24px;
  align-items: center;
  padding: 0 16px;
  grid-gap: 12px;
  grid-template-columns: 60px 1fr 60px;
}

.controls {
  display: flex;
  gap: 9px;
}

.control {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: var(--frame-control-color);
}

.fileName {
  position: relative;
  display: flex;
  height: 16px;
  align-items: center;
  justify-content: center;
  color: var(--frame-title-placeholder-color);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: 12px;
  text-align: center;

  > input:focus + span {
    display: none;
  }

  > input {
    position: absolute;
    width: 100%;
    border: none;
    margin: 0;
    background-color: transparent;
    color: var(--frame-title-color);
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    inset: 0;
    letter-spacing: 0.32px;
    line-height: 12px;
    text-align: center;

    &:focus {
      outline: none;
    }
  }
}

.noBackground {
  background: none;

  [data-grid="true"],
  [data-dot="true"] {
    display: none;
  }
}

.resend {
  --frame-background: hsla(0, 0%, 100%, 0.72);
  --selection-background: #00cc9937;
  --selection-text-color: #007763fd;
  --frame-header-background: hsla(0, 0%, 100%, 0.1);
  --frame-border: hsla(0, 0%, 24%, 0.13);
  --frame-border-radius: 8px;
  --frame-text-color: hsl(0, 0%, 0%);

  &.withBackground {
    background-image: url("../../assets/resend/resend-pattern-light.png") !important;
    background-position: center;
    background-size: cover;

    &.darkMode {
      background-image: url("../../assets/resend/resend-pattern-dark.png") !important;
    }
  }

  &::selection {
    background: var(--selection-background);
    color: var(--selection-text-color);
  }

  &.darkMode {
    --frame-background: hsla(0, 0%, 0%, 0.88);
    --frame-header-background: hsla(0, 0%, 0%, 0.9);
    --frame-border: hsla(0, 0%, 24%, 0.13);
    --frame-text-color: hsl(0, 0%, 98%);
    --selection-background: #00fff61d;
    --selection-text-color: #67ffded2;
  }
}

.resendWindow {
  position: relative;
  z-index: 1;
  border: 0.5px solid var(--frame-border);
  border-radius: var(--frame-border-radius);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background: var(--frame-background);
}

.resendHeader {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-bottom: 1px solid var(--frame-border);
  background: var(--frame-header-background);
  border-top-left-radius: calc(var(--frame-border-radius) - 0.5px);
  border-top-right-radius: calc(var(--frame-border-radius) - 0.5px);
  gap: 12px;
}

.resendFileName {
  position: relative;
  display: grid;
  height: 40px;
  align-items: center;
  color: var(--frame-text-color);
  font-size: 14px;
  line-height: 40px;
  vertical-align: top;

  input,
  & > span,
  &:after {
    position: static;
    z-index: 2;
    width: auto;
    min-width: 1em;
    padding: 0;
    border: none;
    margin: 0;
    appearance: none;
    background: none;
    font: inherit;
    grid-area: 1 / 2;
    resize: none;
    text-align: left;
  }

  & > span {
    position: relative;
    z-index: 1;
  }

  input {
    color: inherit;
  }

  &:after {
    content: attr(data-value) " ";
    visibility: hidden;
  }
}

.resendLanguage {
  height: 40px;
  color: #898989;
  font-size: 14px;
  line-height: 40px;
}
