/* Shared frame styles */
.frame {
  transition: padding 200ms;
}

.transparentPattern {
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(45deg, #1d1d1d 25%, transparent 0),
    linear-gradient(-45deg, #1d1d1d 25%, transparent 0), linear-gradient(45deg, transparent 75%, #1d1d1d 0),
    linear-gradient(-45deg, transparent 75%, #1d1d1d 0);
  background-position:
    0 0,
    0 10px,
    10px -10px,
    -10px 0;
  background-size: 20px 20px;
  inset: 0;
}

.window {
  display: flex;
  min-height: 100px;
  flex-direction: column;
  align-items: stretch;
  padding-top: 10px;
  border: 1px solid hsl(0 0% 100% / 0.3);
  border-radius: 18px;
  background: var(--frame-background);
  transition: all ease 0.3s;

  &.withBorder {
    border: none;
    box-shadow:
      0 0 0 1px var(--frame-highlight-border),
      0 0 0 1.5px var(--frame-shadow-border);
  }

  &.withShadow {
    border: none;
    box-shadow:
      0 0 0 1px var(--frame-highlight-border),
      0 0 0 1.5px var(--frame-shadow-border),
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }
}

.header {
  display: grid;
  height: 24px;
  align-items: center;
  padding: 0 16px;
  grid-gap: 12px;
  grid-template-columns: 60px 1fr 60px;
}

.controls {
  display: flex;
  gap: 9px;
}

.control {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: var(--frame-control-color);
}

.fileName {
  position: relative;
  display: flex;
  height: 16px;
  align-items: center;
  justify-content: center;
  color: var(--frame-title-placeholder-color);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: 12px;
  text-align: center;

  > input:focus + span {
    display: none;
  }

  > input {
    position: absolute;
    width: 100%;
    border: none;
    margin: 0;
    background-color: transparent;
    color: var(--frame-title-color);
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    inset: 0;
    letter-spacing: 0.32px;
    line-height: 12px;
    text-align: center;

    &:focus {
      outline: none;
    }
  }
}

.noBackground {
  background: none;

  [data-grid="true"],
  [data-dot="true"] {
    display: none;
  }
}

/* Stripe Theme Frame */

.stripeFrame {
  --bg: #0a2540;
  --stripe: hsla(213.69, 52%, 97.828%);
  --border: #0f395e;
  --gridline: rgba(255, 255, 255, 0.1);
  --window: #0c2e4e;
  --line-number: #55718d;

  position: relative;
  height: 100%;
  background-color: var(--bg);
}

.stripeBackground {
  position: relative;
}

.stripeBackgroundGridlineContainer {
  position: relative;
  width: var(--window-width);
  height: 100%;
  margin: 0 auto;
}

.stripeBackgroundGridline {
  position: absolute;
  z-index: 1;
  width: 1px;
  height: 100%;
  border-left: 1px dashed var(--gridline);
  content: "";
  pointer-events: none;

  &:nth-child(1) {
    left: 0;
    border-style: solid;
  }
  &:nth-child(2) {
    left: 25%;
  }
  &:nth-child(3) {
    left: 50%;
  }
  &:nth-child(4) {
    left: 75%;
  }
  &:nth-child(5) {
    left: calc(100% - 1px);
    border-style: solid;
  }
}

.stripeBackground {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.stripeWindow {
  position: relative;
  z-index: 1;
  border: 1px solid var(--border);
  border-radius: 8px;
  background: var(--window);
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  &.isSafari {
    box-shadow: none;
  }
}

.stripeStripe {
  position: absolute;
  z-index: 0;
  top: 60%;
  left: 0;
  width: 100%;
  height: 40%;
  background: var(--stripe);
  transform: skewY(-6deg);
  transform-origin: 100% 0;

  --gridline: rgba(66, 71, 112, 0.15);
}

.stripeSet {
  position: absolute;
  z-index: 1;
  top: auto;
  bottom: 65px;
  left: calc(var(--window-width) * 0.75 - 50px);
  width: 500px; /* at least half the frame width */
  height: 50px;
  transform-origin: 100% 0;

  &.isSmall {
    top: -49px;
    bottom: auto;
  }
}

.stripe1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(17, 239, 227);
}

.stripe2 {
  position: absolute;
  /* right: 0px; */
  width: 100%;
  height: 32px;
  background: rgb(153, 102, 255);
  transform: translate(50px, 50px);
}

.intersection {
  position: absolute;
  /* right: 0px; */
  width: 100%;
  height: 18px;
  background: hsla(221.1, 99.822%, 44.876%);
  transform: translate(50px, 32px);
}
