/* Shared frame styles */
.frame {
  transition: padding 200ms;
}

.transparentPattern {
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(45deg, #1d1d1d 25%, transparent 0),
    linear-gradient(-45deg, #1d1d1d 25%, transparent 0), linear-gradient(45deg, transparent 75%, #1d1d1d 0),
    linear-gradient(-45deg, transparent 75%, #1d1d1d 0);
  background-position:
    0 0,
    0 10px,
    10px -10px,
    -10px 0;
  background-size: 20px 20px;
  inset: 0;
}

.window {
  display: flex;
  min-height: 100px;
  flex-direction: column;
  align-items: stretch;
  padding-top: 10px;
  border: 1px solid hsl(0 0% 100% / 0.3);
  border-radius: 18px;
  background: var(--frame-background);
  transition: all ease 0.3s;

  &.withBorder {
    border: none;
    box-shadow:
      0 0 0 1px var(--frame-highlight-border),
      0 0 0 1.5px var(--frame-shadow-border);
  }

  &.withShadow {
    border: none;
    box-shadow:
      0 0 0 1px var(--frame-highlight-border),
      0 0 0 1.5px var(--frame-shadow-border),
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }
}

.header {
  display: grid;
  height: 24px;
  align-items: center;
  padding: 0 16px;
  grid-gap: 12px;
  grid-template-columns: 60px 1fr 60px;
}

.controls {
  display: flex;
  gap: 9px;
}

.control {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: var(--frame-control-color);
}

.fileName {
  position: relative;
  display: flex;
  height: 16px;
  align-items: center;
  justify-content: center;
  color: var(--frame-title-placeholder-color);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: 12px;
  text-align: center;

  > input:focus + span {
    display: none;
  }

  > input {
    position: absolute;
    width: 100%;
    border: none;
    margin: 0;
    background-color: transparent;
    color: var(--frame-title-color);
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    inset: 0;
    letter-spacing: 0.32px;
    line-height: 12px;
    text-align: center;

    &:focus {
      outline: none;
    }
  }
}

.noBackground {
  background: none;

  [data-grid="true"],
  [data-dot="true"] {
    display: none;
  }
}

/* Tailwind Frame */
.tailwindFrame {
  position: relative;
  background: #0f172a;
}

.tailwindWindow {
  position: relative;
  z-index: 1;
  border: 1px solid color(display-p3 0.8235 0.9451 1 / 0.25);
  border-radius: 8px;
  background: color(display-p3 0.1176 0.1608 0.2314);
}

.tailwindBeams {
  position: absolute;
  z-index: 0;
  top: -200px;
  left: 50%;

  width: 1293px;
  max-width: none;
  height: auto;
  pointer-events: none;
  transform: translateX(calc(-50% - 200px));
}

.tailwindHeader {
  composes: header;
  height: 34px;
  padding: 0 12px;
  border-bottom: 1px solid rgb(255 255 255 / 10%);

  .control {
    width: 10px;
    height: 10px;
    background-color: color(display-p3 0.2781 0.3345 0.4136);
  }
}

.tailwindGridlinesHorizontal {
  &:before,
  &:after {
    position: absolute;
    z-index: 2;
    top: -1.5rem;
    bottom: 0;
    left: -4rem;
    width: calc(100% + 8rem);
    height: 1px;
    background: color(display-p3 1 1 1 / 0.1);
    content: "";
    -webkit-mask-image: linear-gradient(to left, transparent, white 4rem, white calc(100% - 4rem), transparent);
    mask-image: linear-gradient(to left, transparent, white 4rem, white calc(100% - 4rem), transparent);
  }

  &:after {
    top: auto;
    bottom: -1.5rem;
  }
}

.tailwindGridlinesVertical {
  &:before,
  &:after {
    position: absolute;
    z-index: 2;
    top: -4rem;
    bottom: 0;
    left: -1.5rem;
    width: 1px;
    height: calc(100% + 8rem);
    background: color(display-p3 1 1 1 / 0.1);
    content: "";
    -webkit-mask-image: linear-gradient(to top, transparent, white 4rem, white calc(100% - 4rem), transparent);
    mask-image: linear-gradient(to top, transparent, white 4rem, white calc(100% - 4rem), transparent);
  }

  &:after {
    right: -1.5rem;
    left: auto;
  }
}

.tailwindGradient {
  position: absolute;
  z-index: -1;
  top: calc(100% + 1.5rem);
  left: 20px;
  overflow: hidden;
  width: 100%;
  height: 32px;
  margin-top: -1px;

  > div {
    display: flex;
    width: clamp(14rem, 80%, 40rem);
    height: 2px;
    margin-top: -1px;
  }
}

.tailwindGradient1 {
  width: 100%;
  flex: none;
  background: linear-gradient(
    90deg,
    color(display-p3 0.2196 0.7412 0.9725 / 0) 0%,
    color(display-p3 0.0549 0.6471 0.9137) 32.29%,
    color(display-p3 0.9255 0.2824 0.6 / 0.3) 67.19%,
    color(display-p3 0.9255 0.2824 0.6 / 0) 100%
  );
  filter: blur(4px);
}

.tailwindGradient2 {
  composes: tailwindGradient1;
  margin-left: -100%;
  filter: blur(1px);
}

.tailwindFrameLightMode {
  background: color(display-p3 1 1 1);

  &.noBackground {
    .tailwindWindow {
      background: rgb(255 255 255 / 100%);
    }
  }

  .tailwindWindow {
    background: rgb(255 255 255 / 75%);
    box-shadow:
      0 0 0 1px color(display-p3 0.0572 0.0889 0.1628 / 0.1),
      0px 2px 4px 0px color(display-p3 0 0 0 / 0.06);
  }

  &.isSafari {
    .tailwindWindow {
      border: 1px solid color(display-p3 0.0078 0.0235 0.0902 / 0.1);
      box-shadow: none;
    }
  }

  .tailwindHeader {
    border-color: rgb(0 0 0 / 10%);
  }

  .control {
    background-color: color(display-p3 0.8863 0.9098 0.9412);
  }

  .tailwindGridlinesHorizontal,
  .tailwindGridlinesVertical {
    &:before,
    &:after {
      background: color(display-p3 0.0078 0.0235 0.0902 / 0.1);
    }
  }

  .tailwindBeams {
    top: 0;
    transform: translateX(-50%);
  }
}
