/* Shared frame styles */
.frame {
  transition: padding 200ms;
}

.transparentPattern {
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(45deg, #1d1d1d 25%, transparent 0),
    linear-gradient(-45deg, #1d1d1d 25%, transparent 0), linear-gradient(45deg, transparent 75%, #1d1d1d 0),
    linear-gradient(-45deg, transparent 75%, #1d1d1d 0);
  background-position:
    0 0,
    0 10px,
    10px -10px,
    -10px 0;
  background-size: 20px 20px;
  inset: 0;
}

.window {
  display: flex;
  min-height: 100px;
  flex-direction: column;
  align-items: stretch;
  padding-top: 10px;
  border: 1px solid hsl(0 0% 100% / 0.3);
  border-radius: 18px;
  background: var(--frame-background);
  transition: all ease 0.3s;

  &.withBorder {
    border: none;
    box-shadow:
      0 0 0 1px var(--frame-highlight-border),
      0 0 0 1.5px var(--frame-shadow-border);
  }

  &.withShadow {
    border: none;
    box-shadow:
      0 0 0 1px var(--frame-highlight-border),
      0 0 0 1.5px var(--frame-shadow-border),
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }
}

.header {
  display: grid;
  height: 24px;
  align-items: center;
  padding: 0 16px;
  grid-gap: 12px;
  grid-template-columns: 60px 1fr 60px;
}

.controls {
  display: flex;
  gap: 9px;
}

.control {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: var(--frame-control-color);
}

.fileName {
  position: relative;
  display: flex;
  height: 16px;
  align-items: center;
  justify-content: center;
  color: var(--frame-title-placeholder-color);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: 12px;
  text-align: center;

  > input:focus + span {
    display: none;
  }

  > input {
    position: absolute;
    width: 100%;
    border: none;
    margin: 0;
    background-color: transparent;
    color: var(--frame-title-color);
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    inset: 0;
    letter-spacing: 0.32px;
    line-height: 12px;
    text-align: center;

    &:focus {
      outline: none;
    }
  }
}

.noBackground {
  background: none;

  [data-grid="true"],
  [data-dot="true"] {
    display: none;
  }
}

/* Vercel Theme Frame */

.vercelFrame {
  background: black;
}

.vercelFrameLightMode {
  background: white;

  .vercelGridlinesHorizontal,
  .vercelGridlinesVertical {
    &:before,
    &:after {
      background: #ebebeb;
    }
  }

  .vercelBracketLeft,
  .vercelBracketRight {
    &:before,
    &:after {
      background: #a8a8a8;
    }
  }
}

.vercelWindow {
  position: relative;
}

.vercelGridlinesHorizontal {
  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -150px;
    width: 1200px;
    height: 1px;
    background: #1a1a1a;
    content: "";
  }

  &:after {
    top: auto;
    bottom: 0;
  }
}

.vercelGridlinesVertical {
  &:before,
  &:after {
    position: absolute;
    top: -150px;
    bottom: 0;
    left: 0;
    width: 1px;
    height: calc(100% + 300px);
    background: #1a1a1a;
    content: "";
  }

  &:after {
    right: 0;
    left: auto;
  }
}

.vercelBracketLeft,
.vercelBracketRight {
  position: absolute;
  top: -12px;
  left: -12px;
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;

  &:before,
  &:after {
    position: absolute;
    background: #515356;
    content: "";
  }

  &:before {
    top: 12px;
    width: 100%;
    height: 1px;
  }

  &:after {
    left: 12px;
    width: 1px;
    height: 100%;
  }
}

.vercelBracketRight {
  top: auto;
  right: -12px;
  bottom: -12px;
  left: auto;
}
