.button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 6px;
  border: 1px solid transparent;

  border-radius: 6px;

  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  gap: 8px;
  outline: none;

  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &:hover:not(:disabled) {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.15);
  }

  &:active:not(:disabled) {
    transform: scale(0.98);
  }

  &.primary {
    max-height: 30px;
    padding: 4px 12px;
    border: 1px solid rgba(255, 99, 99, 0.15);
    background: rgba(255, 99, 99, 0.15);
    color: #ff6363;
    font-size: 14px;

    &:hover,
    &:focus {
      &:not(:disabled) {
        border: 1px solid rgba(255, 99, 99, 0.25);
        background: rgba(255, 99, 99, 0.2);
      }
    }
  }

  &.secondary {
    max-height: 24px;
    border: 1px solid transparent;
    background: transparent;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;

    &:disabled {
      color: rgba(255, 255, 255, 0.4);
    }
    &:hover,
    &:focus {
      &:not(:disabled) {
        border: 1px solid transparent;
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }

  svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    font-size: inherit;
  }
}
