.shadow {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: absolute;
  z-index: 30;
  top: 280px;
  left: 50%;
  display: flex;
  width: 480px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 12px;

  background: #1f2023;
  box-shadow: 0px 8px 24px -12px #000000;
  gap: 16px;
  transform: translateX(-50%);
}

.modalTitle {
  color: rgba(255, 255, 255, 0.4);
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.close {
  position: absolute;
  top: 17px;
  right: 17px;
  border: none;
  color: rgba(255, 255, 255, 0.4);
  outline: none;
  svg {
    width: 16px;
    height: 16px;
  }
}

.modalButton {
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.exportOption {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  gap: 16px;
}

.exportOptionFileName {
  flex-grow: 2;
  font-size: 13px;
}

.exportOptionSettings {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  input,
  button {
    width: 100px;
  }
}

.exportOptionRemove {
  border: none;
  outline: none;
  svg {
    width: 16px;
    height: 16px;
    color: #ff6363;
    transition: color 0.3s ease-in-out;
  }

  &:disabled svg {
    color: rgba(255, 255, 255, 0.2);
  }
}

.inputWrapper {
  position: relative;
  display: inline-flex;
  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}

.inputWithUnit {
  input {
    padding-right: 35px;
  }
}

.unit {
  position: absolute;
  top: 50%;
  right: 16px;
  color: rgba(255, 255, 255, 0.4);
  transform: translateY(-50%);
}
