.editor {
  width: 100%;
  display: grid;
  grid-template: 1fr / 1fr;
}

.textarea,
.formatted {
  font-size: 15px;
  font-weight: 500;
  font-family: "JetBrains Mono", monospace;
  letter-spacing: 0.1px;
  white-space: pre-wrap;
  line-height: 22.5px;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  padding: var(--editor-padding);
  margin: 0;
}

.textarea {
  resize: none;
  background: transparent;
  border: none;
  -webkit-text-fill-color: transparent;
  caret-color: var(--syntax-text);
  z-index: 2;

  &:focus {
    border: none;
    outline: none;
  }
}

.formatted > pre {
  margin: 0;
  white-space: pre-wrap;
}

.formatted > pre > code {
  font-family: "JetBrains Mono", monospace;
}
