.editor {
  position: relative;
  width: 100%;
  font-size: 15px;
}

.textarea {
  resize: none;
  background: transparent;
  border: none;
  -webkit-text-fill-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  padding: var(--editor-padding);
  font-size: 15px;
  caret-color: white;
}

.textarea:focus {
  border: none;
  outline: none;
}

.formatted {
  padding: var(--editor-padding);
}

.formatted > pre {
  margin: 0;
}
