.editor {
  width: 100%;
  display: grid;
  grid-template: 1fr / 1fr;
}

.textarea,
.formatted {
  font-size: 15px;
  letter-spacing: 0.1px;
  line-height: 22.5px;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  padding: var(--editor-padding);
}

.textarea {
  resize: none;
  background: transparent;
  border: none;
  -webkit-text-fill-color: transparent;
  caret-color: white;
  z-index: 2;
}

.textarea:focus {
  border: none;
  outline: none;
}

.formatted > pre {
  margin: 0;
}
