.container {
  position: relative;
}

.anchor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 4px 8px;

  height: 24px;

  font-weight: 500;
  font-size: 13px;
  line-height: 16px;

  letter-spacing: 0.1px;

  color: rgba(255, 255, 255, 0.4);

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;

  cursor: pointer;
  user-select: none;

  transition: border-color 200ms;

  &:hover,
  .open & {
    border-color: rgba(255, 255, 255, 0.3);
  }
}

.searchInput {
  display: inline-block;
  background: transparent;
  outline: none;
  border: none;
  width: 75px;
  color: rgba(255, 255, 255, 0.4);
}

.list {
  position: absolute;
  bottom: calc(100% + 8px);

  display: flex;
  flex-direction: column;
  gap: 4px;

  width: 108px;
  max-height: 300px;

  overflow-y: scroll;

  padding: 12px;

  background: #191919;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.listItem {
  padding: 4px 5px;

  font-weight: 500;
  font-size: 11px;
  line-height: 14px;

  letter-spacing: 0.1px;

  color: rgba(255, 255, 255, 0.4);

  transition: color 200ms;

  cursor: pointer;

  &:hover {
    color: #fff;
  }

  &.selected {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    color: #fff;
  }
}

.enter {
  opacity: 0;
}
.enterActive {
  opacity: 1;
  transition: opacity 150ms;
}
.exit {
  opacity: 1;
}
.exitActive {
  opacity: 0;
  transition: opacity 150ms;
}
