.frame {
  background: linear-gradient(140deg, rgb(165, 142, 251), rgb(233, 191, 248));
  padding: 64px;
}

.window {
  background: var(--frame-background);
  border-radius: 10px;
  min-width: 600px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 16px 0;
}

.header {
  display: grid;
  height: 24px;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.controls {
  display: flex;
  gap: 8px;
  padding: 0 16px;
}

.control {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: hsla(0, 0%, 100%, 0.2);
}

.fileName {
  font-size: 12px;
  color: hsla(0, 0%, 100%, 0.3);
  line-height: 12px;
  font-weight: 500;
  letter-spacing: 0.32px;
}
