.frameContainer {
  position: relative;
}

.frame {
  max-width: 920px;
  min-width: 520px;

  transition: padding 200ms;

  &.noBackground {
    background-image: linear-gradient(45deg, #1d1d1d 25%, transparent 0),
      linear-gradient(-45deg, #1d1d1d 25%, transparent 0),
      linear-gradient(45deg, transparent 75%, #1d1d1d 0),
      linear-gradient(-45deg, transparent 75%, #1d1d1d 0);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0;
  }
}

.window {
  background: var(--frame-background);
  border-radius: 10px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 16px 0;
}

.header {
  display: grid;
  height: 24px;
  padding: 0 16px;
  grid-template-columns: 45px 1fr 45px;
  grid-gap: 12px;
  align-items: center;
}

.controls {
  display: flex;
  gap: 6px;
}

.control {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: hsla(0, 0%, 100%, 0.2);
}

.fileName {
  position: relative;
  height: 16px;
  color: hsla(0, 0%, 100%, 0.3);
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  letter-spacing: 0.32px;
  text-align: center;

  > input:focus + span {
    display: none;
  }

  > input {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    letter-spacing: 0.32px;

    border: none;
    position: absolute;
    inset: 0;
    text-align: center;
    background-color: transparent;
    color: rgba(255 255 255 / 0.6);

    &:focus {
      outline: none;
    }
  }
}
