.hljs {
  color: var(--syntax-text);
}

.hljs-tag,
.hljs-subst {
  color: var(--syntax-tag);
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: var(--syntax-number);
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class,
.hljs-attr {
  color: var(--syntax-definition);
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name {
  color: var(--syntax-keyword);
}

.hljs-symbol,
.hljs-attribute,
.hljs-property {
  color: var(--syntax-property);
}

.hljs-params,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: var(--syntax-definition);
}

.hljs-string,
.hljs-built_in,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition {
  color: var(--syntax-string);
}

.hljs-type,
.hljs-variable,
.hljs-template-variable {
  color: var(--syntax-variable);
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: var(--syntax-comment);
}
