.wrapper {
  position: fixed;

  z-index: 20;
  bottom: -1px;
  left: 50%;

  transform: translateX(-50%);
  transition: height 0.2s ease-out, width 0.2s ease-out;
}

.controls {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;

  padding: 16px 16px;

  border: 1px solid rgba(255, 255, 255, 0.2);
  background: var(--panel-background);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.6);
  gap: 16px;
}
