.controls {
  position: fixed;

  z-index: 20;
  bottom: -1px;
  left: 0;

  display: flex;
  width: 100%;
  align-items: center;

  padding: 24px;

  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background: var(--panel-background);

  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.6);
  gap: 32px;
  overflow-x: auto;

  @media (min-width: 768px) {
    --radius: 16px;

    left: 50%;
    overflow: initial;
    width: auto;
    border: none;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    transform: translateX(-50%);

    &::before {
      position: absolute;
      padding: 1px;
      background: linear-gradient(
        20deg,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0.25) 20%,
        rgba(255, 255, 255, 0.1) 100%
      );
      border-top-left-radius: var(--radius);
      border-top-right-radius: var(--radius);
      content: "";
      inset: 0;
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
    }
  }
}
