.container {
  position: relative;
  display: flex;
  gap: 6px;
}

.button {
  display: flex;

  height: 30px;
  align-items: center;

  padding: 0 16px;
  border: none;
  border-radius: 6px;
  background: var(--button-color);
  color: #ff6363;

  cursor: default;
  font-size: 16px;

  font-weight: 500;
  gap: 8px;
  letter-spacing: 0.1px;

  transition: background-color 300ms ease, transform 100ms ease;

  --button-color: rgba(255, 99, 99, 0.15);

  &.small {
    width: 40px;
    justify-content: center;
    padding: 0;

    > svg {
      font-size: 14px;
    }
  }

  > svg {
    width: 1em;
    height: 1em;
  }

  &:active:not(:disabled) {
    transform: scale(0.98);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--panel-background), 0 0 0 4px var(--button-color);
    outline: none;
  }

  &:hover,
  &[aria-expanded="true"] {
    background: rgba(255, 99, 99, 0.25);
  }
}

.dropdown {
  display: flex;
  min-width: 100px;
  flex-direction: column;
  padding: 4px;
  border: 1px solid #333333;
  border-radius: 6px;
  background: #17191a;
  box-shadow: 0px 8px 24px -8px #000000;
  gap: 2px;
  outline: none;
}

.option {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 6px 16px;
  border-radius: 4px;
  background: transparent;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  gap: 12px;
  line-height: 17px;
  outline: none;
  user-select: none;

  &[data-highlighted] {
    background: rgba(255, 255, 255, 0.05);
  }

  &[data-state="checked"] {
    color: #ffffff;
  }
}

.separator {
  height: 1px;
  margin: 2px -4px;
  background: rgba(255, 255, 255, 0.1);
}

.label {
  padding: 6px 0 4px 16px;
  color: rgba(255, 255, 255, 0.3);
  font-size: 12px;
}

.indicator {
  position: absolute;
  left: 16px;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 12px;
  background: white;
  content: "";
  font-size: 12px;
}

.rightSlot {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 4px;
  opacity: 0.7;
}

.radioGroup {
  .option {
    padding-left: 24px;
  }
}

.subTrigger {
  padding-right: 4px;
}
