.frameContainer {
  display: flex;
  justify-content: center;
  grid-area: content;
  transform: scale(0.6);

  @media (min-width: 768px) {
    transform: scale(1);
  }
}

.outerFrame {
  position: relative;
  overflow: hidden;
  min-width: 520px;
  max-width: 920px;
}

.frame {
  transition: padding 200ms;
}

.transparentPattern {
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(45deg, #1d1d1d 25%, transparent 0),
    linear-gradient(-45deg, #1d1d1d 25%, transparent 0), linear-gradient(45deg, transparent 75%, #1d1d1d 0),
    linear-gradient(-45deg, transparent 75%, #1d1d1d 0);
  background-position:
    0 0,
    0 10px,
    10px -10px,
    -10px 0;
  background-size: 20px 20px;
  inset: 0;
}

.window {
  display: flex;
  min-height: 120px;
  flex-direction: column;
  align-items: stretch;
  padding-top: 10px;
  border: 1px solid hsl(0 0% 100% / 0.3);
  border-radius: 10px;
  background: var(--frame-background);
  transition: all ease 0.3s;

  &.withBorder {
    border: none;
    box-shadow:
      0 0 0 1px var(--frame-highlight-border),
      0 0 0 1.5px var(--frame-shadow-border);
  }

  &.withShadow {
    border: none;
    box-shadow:
      0 0 0 1px var(--frame-highlight-border),
      0 0 0 1.5px var(--frame-shadow-border),
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }
}

.header {
  display: grid;
  height: 24px;
  align-items: center;
  padding: 0 16px;
  grid-gap: 12px;
  grid-template-columns: 48px 1fr 48px;
}

.controls {
  display: flex;
  gap: 6px;
}

.control {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: var(--frame-control-color);
}

.fileName {
  position: relative;
  display: flex;
  height: 16px;
  align-items: center;
  justify-content: center;
  color: var(--frame-title-placeholder-color);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: 12px;
  text-align: center;

  > input:focus + span {
    display: none;
  }

  > input {
    position: absolute;
    width: 100%;
    border: none;
    margin: 0;
    background-color: transparent;
    color: var(--frame-title-color);
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    inset: 0;
    letter-spacing: 0.32px;
    line-height: 12px;
    text-align: center;

    &:focus {
      outline: none;
    }
  }
}

/* Vercel Theme Frame */

.vercelFrame {
  background: black;
}

.vercelFrameLightMode {
  background: white;

  .vercelGridlinesHorizontal,
  .vercelGridlinesVertical {
    &:before,
    &:after {
      background: #ebebeb;
    }
  }

  .vercelBracketLeft,
  .vercelBracketRight {
    &:before,
    &:after {
      background: #a8a8a8;
    }
  }
}

.vercelWindow {
  position: relative;
}

.vercelGridlinesHorizontal {
  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -150px;
    width: 1200px;
    height: 1px;
    background: #1a1a1a;
    content: "";
  }

  &:after {
    top: auto;
    bottom: 0;
  }
}

.vercelGridlinesVertical {
  &:before,
  &:after {
    position: absolute;
    top: -150px;
    bottom: 0;
    left: 0;
    width: 1px;
    height: calc(100% + 300px);
    background: #1a1a1a;
    content: "";
  }

  &:after {
    right: 0;
    left: auto;
  }
}

.vercelBracketLeft,
.vercelBracketRight {
  position: absolute;
  top: -12px;
  left: -12px;
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;

  &:before,
  &:after {
    position: absolute;
    background: #515356;
    content: "";
  }

  &:before {
    top: 12px;
    width: 100%;
    height: 1px;
  }

  &:after {
    left: 12px;
    width: 1px;
    height: 100%;
  }
}

.vercelBracketRight {
  top: auto;
  right: -12px;
  bottom: -12px;
  left: auto;
}

/* Supabase theme frame */

.supabaseFrame {
  background: #121212;
}

.supabaseWindow {
  border: 1px solid #292929;
  border-radius: 6px;
  background: #171717;
}

.supabaseHeader {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-bottom: 1px solid #292929;
  background: #1f1f1f;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  gap: 12px;
}

.supabaseFileName {
  position: relative;
  display: grid;
  height: 40px;
  align-items: center;
  color: #fafafa;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  line-height: 40px;
  vertical-align: top;

  input,
  & > span,
  &:after {
    position: static;
    z-index: 2;
    width: auto;
    min-width: 1em;
    padding: 0;
    border: none;
    margin: 0;
    appearance: none;
    background: none;
    font: inherit;
    grid-area: 1 / 2;
    resize: none;
    text-align: left;
  }

  & > span {
    position: relative;
    z-index: 1;
  }

  input {
    color: inherit;
  }

  &:after {
    content: attr(data-value) " ";
    visibility: hidden;
  }

  &:before {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 1px;
    background: currentColor;
    content: "";
  }
}

.supabaseLanguage {
  height: 40px;
  color: #898989;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  line-height: 40px;
}

.supabaseFrameLightMode {
  background: #fcfcfc;

  .supabaseWindow {
    border-color: #dfdfdf;
    background: #ffffff;
  }

  .supabaseHeader {
    border-color: #dfdfdf;
    background: #fcfcfc;
  }

  .supabaseFileName {
    color: #171717;
  }

  .supabaseLanguage {
    color: #707070;
  }
}

/* Tailwind Frame */
.tailwindFrame {
  position: relative;
  background: #0f172a;
}

.tailwindWindow {
  position: relative;
  z-index: 1;
  border: 1px solid color(display-p3 0.8235 0.9451 1 / 0.25);
  border-radius: 8px;
  background: color(display-p3 0.1176 0.1608 0.2314);
}

.tailwindBeams {
  position: absolute;
  z-index: 0;
  top: -200px;
  left: 50%;

  width: 1293px;
  max-width: none;
  height: auto;
  pointer-events: none;
  transform: translateX(calc(-50% - 200px));
}

.tailwindHeader {
  composes: header;
  height: 34px;
  padding: 0 12px;
  border-bottom: 1px solid rgb(255 255 255 / 10%);

  .control {
    width: 10px;
    height: 10px;
    background-color: color(display-p3 0.2781 0.3345 0.4136);
  }
}

.tailwindGridlinesHorizontal {
  &:before,
  &:after {
    position: absolute;
    z-index: 2;
    top: -1.5rem;
    bottom: 0;
    left: -4rem;
    width: calc(100% + 8rem);
    height: 1px;
    background: color(display-p3 1 1 1 / 0.1);
    content: "";
    -webkit-mask-image: linear-gradient(to left, transparent, white 4rem, white calc(100% - 4rem), transparent);
    mask-image: linear-gradient(to left, transparent, white 4rem, white calc(100% - 4rem), transparent);
  }

  &:after {
    top: auto;
    bottom: -1.5rem;
  }
}

.tailwindGridlinesVertical {
  &:before,
  &:after {
    position: absolute;
    z-index: 2;
    top: -4rem;
    bottom: 0;
    left: -1.5rem;
    width: 1px;
    height: calc(100% + 8rem);
    background: color(display-p3 1 1 1 / 0.1);
    content: "";
    -webkit-mask-image: linear-gradient(to top, transparent, white 4rem, white calc(100% - 4rem), transparent);
    mask-image: linear-gradient(to top, transparent, white 4rem, white calc(100% - 4rem), transparent);
  }

  &:after {
    right: -1.5rem;
    left: auto;
  }
}

.tailwindGradient {
  position: absolute;
  z-index: -1;
  top: calc(100% + 1.5rem);
  left: 20px;
  overflow: hidden;
  width: 100%;
  height: 32px;
  margin-top: -1px;

  > div {
    display: flex;
    width: clamp(14rem, 80%, 40rem);
    height: 2px;
    margin-top: -1px;
  }
}

.tailwindGradient1 {
  width: 100%;
  flex: none;
  background: linear-gradient(
    90deg,
    color(display-p3 0.2196 0.7412 0.9725 / 0) 0%,
    color(display-p3 0.0549 0.6471 0.9137) 32.29%,
    color(display-p3 0.9255 0.2824 0.6 / 0.3) 67.19%,
    color(display-p3 0.9255 0.2824 0.6 / 0) 100%
  );
  filter: blur(4px);
}

.tailwindGradient2 {
  composes: tailwindGradient1;
  margin-left: -100%;
  filter: blur(1px);
}

.tailwindFrameLightMode {
  background: color(display-p3 1 1 1);

  &.noBackground {
    .tailwindWindow {
      background: rgb(255 255 255 / 100%);
    }
  }

  .tailwindWindow {
    background: rgb(255 255 255 / 75%);
    box-shadow:
      0 0 0 1px color(display-p3 0.0572 0.0889 0.1628 / 0.1),
      0px 2px 4px 0px color(display-p3 0 0 0 / 0.06);
  }

  &.isSafari {
    .tailwindWindow {
      border: 1px solid color(display-p3 0.0078 0.0235 0.0902 / 0.1);
      box-shadow: none;
    }
  }

  .tailwindHeader {
    border-color: rgb(0 0 0 / 10%);
  }
  .control {
    background-color: color(display-p3 0.8863 0.9098 0.9412);
  }
  .tailwindGridlinesHorizontal,
  .tailwindGridlinesVertical {
    &:before,
    &:after {
      background: color(display-p3 0.0078 0.0235 0.0902 / 0.1);
    }
  }
  .tailwindBeams {
    top: 0;
    transform: translateX(-50%);
  }
}

/* Clerk Frame */

.clerkFrame {
  background: #222222;
}

.clerkPattern {
  position: absolute;
  bottom: 0;
  left: -32px;
  width: calc(100% + 64px);
  height: 128px;
  mask-image: radial-gradient(farthest-side at 50% 100%, black, transparent);
  pointer-events: none;
}

.clerkWindow {
  position: relative;
  padding: 3px;
  border-radius: 8px;
  background: #111111;
  box-shadow:
    0 0 0 1px rgb(0 0 0 / 35%),
    0 1px 0 0 rgb(255 255 255 / 3%) inset,
    0 0 0 6px rgb(0 0 0 / 8%),
    0 72px 29px 0 rgb(0 0 0 / 2%),
    0 41px 24px 0 rgb(0 0 0 / 7%),
    0 18px 18px 0 rgb(0 0 0 / 11%),
    0 5px 10px 0 rgb(0 0 0 / 13%);
}

.clerkCode {
  border-radius: 5px;
  background: #191919;
  box-shadow:
    0 0 0 1px rgb(0 0 0 / 8%),
    0 14px 6px 0 rgb(0 0 0 / 4%),
    0 8px 5px 0 rgb(0 0 0 / 12%),
    0 3px 3px 0 rgb(0 0 0 / 20%),
    0 1px 2px 0 rgb(0 0 0 / 23%);
  --line-number: #484848;
}

.clerkHeader {
  display: flex;
  height: 40px;
  align-items: center;
  padding: 0 20px;
}

.clerkFrameLightMode {
  background: #f9f9f9;

  .clerkWindow {
    background: #f8f8f8;
    box-shadow:
      0 0 0 8px rgb(0 0 0 / 2%),
      0 1px 0 0 rgb(255 255 255 / 80%) inset,
      0 0 0 1px rgb(0 0 0 / 4%),
      0 113px 32px 0 rgb(0 0 0 / 0%),
      0 72px 29px 0 rgb(0 0 0 / 1%),
      0 41px 24px 0 rgb(0 0 0 / 2%),
      0 18px 18px 0 rgb(0 0 0 / 4%),
      0 5px 10px 0 rgb(0 0 0 / 4%);
  }

  .clerkPattern {
    opacity: 0.2;
  }

  .clerkCode {
    --line-number: #c9c9c9;
    background: #ffffff;
    box-shadow:
      0 0 0 1px rgb(0 0 0 / 2%),
      0 14px 6px 0 rgb(0 0 0 / 1%),
      0 8px 5px 0 rgb(0 0 0 / 3%),
      0 3px 3px 0 rgb(0 0 0 / 5%),
      0 1px 2px 0 rgb(0 0 0 / 6%);
  }
}

/* OpenAI Frame */

.openAIFrame {
  --line-number: rgba(255, 255, 255, 0.2);
  background: #121a29;
  font-family: var(--font-soehne-mono);

  /* Make non-highlighted lines grayscale */
  &:has(:global(.highlighted-line)) {
    :global(.line):not(:global(.highlighted-line)) {
      filter: grayscale(1);
      opacity: 0.5;
      transition:
        filter 1s,
        opacity 1s;
    }
  }

  .isHighlightingLines {
    :global(.line):not(:global(.highlighted-line)):hover {
      filter: none !important;
      opacity: 1 !important;
    }
  }
}

.openAIWindow {
  position: relative;
  z-index: 1;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  background: #232b41;
  box-shadow:
    0px 100px 89px 0px rgba(0, 0, 0, 0.07),
    0px 41.778px 37.182px 0px rgba(0, 0, 0, 0.05),
    0px 22.336px 19.879px 0px rgba(0, 0, 0, 0.04),
    0px 12.522px 11.144px 0px rgba(0, 0, 0, 0.04),
    0px 6.65px 5.919px 0px rgba(0, 0, 0, 0.03),
    0px 2.767px 2.463px 0px rgba(0, 0, 0, 0.02);
}

.openAIFrameLightMode {
  background: linear-gradient(238deg, #f1f0f4 0%, #f8f8fd 100%);
  --line-number: hsla(240, 12%, 71%, 1);

  .openAIWindow {
    position: relative;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #fff;
    box-shadow:
      0px 73px 83px 0px rgba(0, 0, 0, 0.03),
      0px 4.855px 5.52px 0px rgba(0, 0, 0, 0.01),
      0px 2.02px 2.297px 0px rgba(0, 0, 0, 0.01);
  }
}

/* Prisma Frame */

.prismaFrame {
  --gradient-angle: 140deg;
  background: linear-gradient(var(--gradient-angle), #0c1d26 0%, #0a0c17 100%);
}

.prismaWindow {
  position: relative;
  overflow: visible;
  border: 1px solid transparent;
  border-radius: var(--radius);
  background-color: var(--background);
  --radius: 10px;
  --frame-border-gradient: linear-gradient(var(--gradient-angle), #3e4083, #16544f);
  --background: hsla(223, 41%, 7%, 75%);

  [data-frameborder] {
    &:before {
      position: absolute;
      border: 1px solid transparent;
      border-radius: var(--radius);
      background: var(--frame-border-gradient) border-box;
      content: "";
      inset: 0;
      mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
      pointer-events: none;
    }
    &:nth-of-type(1):before {
      inset: -1px;
    }
    &:nth-of-type(2):before {
      border-radius: calc(var(--radius) + 6px);
      inset: -6px;
      opacity: 50%;
    }

    &:nth-of-type(3):before {
      border-radius: calc(var(--radius) + 11px);
      inset: -11px;
      opacity: 30%;
    }

    &:nth-of-type(4):before {
      border-radius: calc(var(--radius) + 16px);
      inset: -16px;
      opacity: 10%;
    }
  }
}

.prismaHeader {
  display: flex;
  height: 40px;
  align-items: center;
  padding: 0 20px;
}

.prismaFrameLightMode {
  background: linear-gradient(140deg, #e8e8ff 0%, #e7fefc 100%);

  &.noBackground {
    .prismaWindow {
      --background: hsl(193, 72%, 96%, 0.9);
    }
  }

  .prismaWindow {
    --background: hsl(193, 72%, 96%, 0.5);
    --frame-border-gradient: linear-gradient(var(--gradient-angle), #6164cc, #31baaf);
  }
}

/* Mintlify Frame */
.mintlifyFrame {
  background: #121212;
}

.mintlifyWindow {
  position: relative;
  z-index: 1;
  border-radius: 12px;
  background: #070a08;
  box-shadow:
    0px 173px 48px 0px rgba(0, 0, 0, 0),
    0px 110px 44px 0px rgba(0, 0, 0, 0.01),
    0px 62px 37px 0px rgba(0, 0, 0, 0.05),
    0px 28px 28px 0px rgba(0, 0, 0, 0.09),
    0px 7px 15px 0px rgba(0, 0, 0, 0.1);
}

.mintlifyHeader {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #141818;
  background: #010201;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  gap: 12px;
}

.mintlifyFileName {
  position: relative;
  display: grid;
  height: 40px;
  align-items: center;
  color: #55d799;
  font-size: 12px;
  line-height: 40px;
  vertical-align: top;

  input,
  & > span,
  &:after {
    position: static;
    z-index: 2;
    width: auto;
    min-width: 1em;
    padding: 0 16px;
    border: none;
    margin: 0;
    appearance: none;
    background: none;
    font: var(--font-inter);
    font-weight: 500;
    grid-area: 1 / 2;
    letter-spacing: 0.4px;
    resize: none;
    text-align: left;
  }

  & > span {
    position: relative;
    z-index: 1;
  }

  input {
    color: inherit;
  }

  &:after {
    content: attr(data-value) " ";
    visibility: hidden;
  }

  &:before {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 1px;
    background: currentColor;
    content: "";
  }
}

.mintlifyPatternWrapper {
  position: absolute;
  top: 0;
  right: -25px;
  width: 700px;
  height: 600px;
  background: radial-gradient(49.63% 57.02% at 58.99% -7.2%, rgba(13, 147, 115, 0.1) 39.4%, rgba(0, 0, 0, 0) 100%);
}

.mintlifyPattern {
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  max-width: none;
}

.mintlifyFrameLightMode {
  background: #f6fbf9;

  .mintlifyWindow {
    border-color: #dfdfdf;
    background: #ffffff;
    box-shadow:
      0px 173px 48px 0px rgba(0, 0, 0, 0),
      0px 110px 44px 0px rgba(0, 0, 0, 0.01),
      0px 62px 37px 0px rgba(0, 0, 0, 0.03),
      0px 28px 28px 0px rgba(0, 0, 0, 0.05),
      0px 7px 15px 0px rgba(0, 0, 0, 0.06);
  }

  .mintlifyHeader {
    border-color: #dfdfdf;
    background: #fcfcfc;
  }

  .mintlifyFileName {
    color: #0d9373;
  }

  .mintlifyLanguage {
    color: #707070;
  }
}

.bitmap {
  --frame-background: rgba(255, 255, 255, 0.95);

  &.withBackground {
    background-color: black;
    background-image: url("../assets/manifesto.png") !important;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &.darkMode {
    --frame-background: rgba(0, 0, 0, 0.88);
  }
}

.noir {
  --frame-background: rgba(255, 255, 255, 0.95);

  &.withBackground {
    background-image: url("../assets/distortion.png") !important;
    background-position: center;
    background-size: cover;
  }

  &.darkMode {
    --frame-background: rgba(0, 0, 0, 0.9);
  }
}

.ice {
  --background: #f6f6f6;
  --dot-color: rgba(0, 0, 0, 0.12);

  &.withBackground {
    background-color: var(--background) !important;
    background-image: radial-gradient(var(--dot-color) 1px, transparent 0) !important;
    background-position: -8.5px -8.5px;
    background-repeat: repeat;
    background-size: 17px 17px;
    inset: 0;
  }

  .withShadow {
    border: none;
    box-shadow:
      0 0 0 1px var(--frame-highlight-border),
      0 0 0 1.5px var(--frame-shadow-border),
      0 4px 6px rgba(0, 0, 0, 0.05);
  }

  &.darkMode {
    --background: #0e0e0e;
    --dot-color: rgba(255, 255, 255, 0.09);
  }
}

.noBackground {
  background: none;

  [data-grid="true"] {
    display: none;
  }
}

.tinybirdFrame {
  position: relative;
  overflow: hidden;
  background: #151515;
  font-family: var(--font-ia-writer-mono);
}

.tinybirdWindow {
  position: relative;
  z-index: 1;
  border: 1px solid #c2c2c2;
  border-bottom: none;
  background: #151515;
  clip-path: polygon(0 0, calc(100% - 30px) 0, 100% 30px, 100% 100%, 0 100%);
}

.tinybirdWindow {
  mask-image: linear-gradient(to bottom, #151515 70%, transparent 100%);
}

.tinybirdWindow::after {
  position: absolute;
  z-index: 100;
  top: -4px;
  right: -28px;
  width: 59px;
  height: 5px;
  background: #c2c2c2;
  content: "";
  transform: rotate(45deg);
  transform-origin: left;
}

.tinybirdHeader {
  position: relative;
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: flex-start;
  padding: 0 12px;
  background: #151515;
  gap: 8px;
}

.tinybirdHeader::before {
  position: absolute;
  right: -2px;
  bottom: 0px;
  left: 0px;
  height: 1px;
  background-image: linear-gradient(to right, transparent 0%, #27f795 10%, #27f795 100%);
  content: "";
  mask-image: linear-gradient(to left, transparent 50%, #151515 99%, #151515 100%);
}

.tinybirdCircle {
  width: 12px;
  height: 12px;
  border: 2px solid #c2c2c2;
  border-radius: 50%;
  margin-right: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tinybirdCircleText {
  color: #27f795;
  font-size: 12px;
  font-weight: 700;
}

.tinybirdFileName {
  position: relative;
  display: grid;
  align-items: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;

  > input {
    color: rgba(0, 0, 0, 0);
  }

  > input:focus + span {
    display: block;
  }
}

.tinybirdFrameLightMode {
  background: #ffffff;

  .tinybirdWindow {
    background: #ffffff;
  }

  .tinybirdHeader {
    background: #ffffff;
  }

  .tinybirdCircleText {
    color: #151515;
  }

  .tinybirdFileName {
    color: #151515;
  }

  .tinybirdHeader::before {
    background-image: none;
  }

  .tinybirdWindow {
    border: 1px solid #151515;
  }

  .tinybirdWindow::after {
    background: #151515;
  }

  .tinybirdHeader::before {
    background-image: linear-gradient(to right, transparent 0%, #151515 10%, #151515 100%);
    mask-image: linear-gradient(to left, transparent 50%, #151515 99%, #151515 100%);
  }
}
