.switchRoot {
  width: 28px;
  height: 16px;
  padding: 0 3px;
  border: none;
  border-radius: 9px;
  background: hsla(0, 0%, 100%, 0.2);
  transition: background-color 300ms ease;

  --focus-ring-color: rgba(255, 255, 255, 0.1);

  &[data-state="checked"] {
    background: #56c2ff;
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--panel-background), 0 0 0 4px var(--focus-ring-color);
    outline: none;
  }
}

.switchThumb {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background: white;
  transition: transform 300ms ease;

  &[data-state="checked"] {
    transform: translateX(12px);
  }
}
